<?xml version='1.0' encoding='utf-8'?>
<robot name="toshiba-clacio-refrigerator">
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="toshiba_clacio_refrigerator_bodyset2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="toshiba_clacio_refrigerator_bodyset3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="toshiba_clacio_refrigerator_bodyset5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset5.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset5.glb" />
      </geometry>
    </collision>
  </link>
  <link name="toshiba_clacio_refrigerator_bodyset4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset4.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset4.glb" />
      </geometry>
    </collision>
  </link>
  <link name="toshiba_clacio_refrigerator_bodyset6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset6.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://toshiba_clacio_refrigerator_object/meshes/_toshiba-clacio-refrigerator-bodyset6.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="drawer_lower2" type="prismatic">
    <parent link="root" />
    <child link="toshiba_clacio_refrigerator_bodyset2" />
    <origin xyz="-0.015 0 0.227" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="0.785398" lower="0" upper="0.6" />
  </joint>
  <joint name="drawer_lower1" type="prismatic">
    <parent link="root" />
    <child link="toshiba_clacio_refrigerator_bodyset3" />
    <origin xyz="-0.015 0 0.577" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="0.785398" lower="0" upper="0.6" />
  </joint>
  <joint name="drawer_middle_left" type="prismatic">
    <parent link="root" />
    <child link="toshiba_clacio_refrigerator_bodyset5" />
    <origin xyz="-0.015 0.125 0.852" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="0.785398" lower="0" upper="0.6" />
  </joint>
  <joint name="drawer_middle_right" type="prismatic">
    <parent link="root" />
    <child link="toshiba_clacio_refrigerator_bodyset4" />
    <origin xyz="-0.015 -0.203 0.852" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="0.785398" lower="0" upper="0.6" />
  </joint>
  <joint name="door_upper" type="revolute">
    <parent link="root" />
    <child link="toshiba_clacio_refrigerator_bodyset6" />
    <origin xyz="0.275 0.3 0.96" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
</robot>