<?xml version='1.0' encoding='utf-8'?>
<robot name="kxrl4r2l3">
  <link name="torso_link_l4t">
    <inertial>
      <origin xyz="0.003315 -2.595064e-10 0.00996898" rpy="0 0 0" />
      <mass value="0.358793" />
      <inertia ixx="0.00128044" ixy="-8.261e-06" ixz="-1.73826e-06" iyy="0.001141657" iyz="1.45944e-06" izz="0.002160266" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/torso-link-l4t.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/torso-link-l4t.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <inertial>
      <origin xyz="-1.627437e-19 1.220558e-18 0.0230927" rpy="0 0 0" />
      <mass value="0.0373978" />
      <inertia ixx="3.83429e-05" ixy="7.586524e-24" ixz="8.61164e-09" iyy="6.29647e-05" iyz="-5.25778e-09" izz="4.59744e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="0.081416 6.295684e-17 0.128214" rpy="0 0 0" />
      <mass value="0.0465837" />
      <inertia ixx="0.0002378774" ixy="-1.82679e-09" ixz="1.64688e-07" iyy="0.0002469049" iyz="4.42254e-09" izz="0.0001178216" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <inertial>
      <origin xyz="4.120808e-19 0.0221329 2.686108e-18" rpy="0 0 0" />
      <mass value="0.0172428" />
      <inertia ixx="5.07279e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="2.27229e-05" iyz="6.8972e-10" izz="5.18233e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <inertial>
      <origin xyz="0.0345 1.331166e-18 -6.427493e-19" rpy="0 0 0" />
      <mass value="0.074846" />
      <inertia ixx="0.0001530446" ixy="0" ixz="3.865352e-22" iyy="6.94007e-05" iyz="-1.05156e-08" izz="0.0001500954" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_r">
    <inertial>
      <origin xyz="0.030717 -1.520141e-18 0.0035479" rpy="0 0 0" />
      <mass value="0.0160119" />
      <inertia ixx="0.000202494" ixy="-4.78206e-09" ixz="5.76198e-09" iyy="2.26531e-05" iyz="-7.0584e-09" izz="0.0001998407" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-knee-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-knee-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_w">
    <inertial>
      <origin xyz="-5.799855e-19 2.189916e-19 -1.281015e-18" rpy="0 0 0" />
      <mass value="0.0398698" />
      <inertia ixx="6.89116e-05" ixy="6.101194e-22" ixz="2.50111e-22" iyy="5.56633e-05" iyz="-3.476922e-22" izz="0.0001202099" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/lleg-crotch-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <inertial>
      <origin xyz="4.120808e-19 0.0221329 2.686108e-18" rpy="0 0 0" />
      <mass value="0.0172428" />
      <inertia ixx="5.07279e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="2.27229e-05" iyz="6.8972e-10" izz="5.18233e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <inertial>
      <origin xyz="0.0345 1.331166e-18 -6.427493e-19" rpy="0 0 0" />
      <mass value="0.074846" />
      <inertia ixx="0.0001530446" ixy="0" ixz="3.865352e-22" iyy="6.94007e-05" iyz="-1.05156e-08" izz="0.0001500954" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_r">
    <inertial>
      <origin xyz="0.030717 -1.520141e-18 0.0035479" rpy="0 0 0" />
      <mass value="0.0160119" />
      <inertia ixx="0.000202494" ixy="-4.78206e-09" ixz="5.76198e-09" iyy="2.26531e-05" iyz="-7.0584e-09" izz="0.0001998407" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-knee-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-knee-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_w">
    <inertial>
      <origin xyz="-5.799855e-19 2.189916e-19 -1.281015e-18" rpy="0 0 0" />
      <mass value="0.0398698" />
      <inertia ixx="6.89116e-05" ixy="6.101194e-22" ixz="2.50111e-22" iyy="5.56633e-05" iyz="-3.476922e-22" izz="0.0001202099" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rleg-crotch-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_y">
    <inertial>
      <origin xyz="-1.708773e-18 0.0345059 -0.00979273" rpy="0 0 0" />
      <mass value="0.053814" />
      <inertia ixx="7.94303e-05" ixy="1.37486e-08" ixz="-3.52779e-08" iyy="4.20027e-05" iyz="-3.26445e-08" izz="8.95991e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/larm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/larm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_w">
    <inertial>
      <origin xyz="-2.963973e-19 0.00939822 3.353331e-18" rpy="0 0 0" />
      <mass value="0.0404035" />
      <inertia ixx="8.91445e-05" ixy="6.121622e-22" ixz="2.469191e-22" iyy="6.03542e-05" iyz="-3.489023e-22" izz="0.0001427603" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/larm-shoulder-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/larm-shoulder-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_y">
    <inertial>
      <origin xyz="-5.653994e-19 -0.0345059 -0.00979273" rpy="0 0 0" />
      <mass value="0.053814" />
      <inertia ixx="7.94303e-05" ixy="1.37486e-08" ixz="-3.52779e-08" iyy="4.20027e-05" iyz="-3.26445e-08" izz="8.95991e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_w">
    <inertial>
      <origin xyz="-2.963973e-19 0.00939822 3.353331e-18" rpy="0 0 0" />
      <mass value="0.0404035" />
      <inertia ixx="8.91445e-05" ixy="6.133002e-22" ixz="2.500185e-22" iyy="6.03542e-05" iyz="-3.49006e-22" izz="0.0001427603" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rarm-shoulder-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4r2l3/meshes/rarm-shoulder-w.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="head_neck_y" type="revolute">
    <parent link="torso_link_l4t" />
    <child link="head_neck_y" />
    <origin xyz="0.0645 2.388061e-18 0.053472" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="head_neck_y" />
    <child link="head_neck_p" />
    <origin xyz="0 0 0.036" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="torso_link_l4t" />
    <child link="lleg_crotch_y" />
    <origin xyz="-0.0435 0.0645 -0.003" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9547688" upper="1.9547688" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_r" />
    <origin xyz="0 0.052 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_knee_r" type="revolute">
    <parent link="lleg_crotch_r" />
    <child link="lleg_knee_r" />
    <origin xyz="0 0.069 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_crotch_w" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_w" />
    <origin xyz="0 0.052 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="torso_link_l4t" />
    <child link="rleg_crotch_y" />
    <origin xyz="-0.0435 -0.0645 -0.003" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9547688" upper="1.9547688" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_r" />
    <origin xyz="-7.105423e-18 -0.052 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_knee_r" type="revolute">
    <parent link="rleg_crotch_r" />
    <child link="rleg_knee_r" />
    <origin xyz="7.105423e-18 -0.069 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_crotch_w" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_w" />
    <origin xyz="-7.105423e-18 -0.052 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="larm_shoulder_y" type="revolute">
    <parent link="torso_link_l4t" />
    <child link="larm_shoulder_y" />
    <origin xyz="0.0435 0.0645 -0.003" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="larm_shoulder_w" type="revolute">
    <parent link="larm_shoulder_y" />
    <child link="larm_shoulder_w" />
    <origin xyz="0 0.0545 -0.021" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="rarm_shoulder_y" type="revolute">
    <parent link="torso_link_l4t" />
    <child link="rarm_shoulder_y" />
    <origin xyz="0.0435 -0.0645 -0.003" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="rarm_shoulder_w" type="revolute">
    <parent link="rarm_shoulder_y" />
    <child link="rarm_shoulder_w" />
    <origin xyz="0 -0.0545 -0.021" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
</robot>