*~
*.egg/
*.pyc
build
\#*\#
.\#*
*.egg-info/
dist/
.venv/
__pycache__/
# Spinning-GIF gallery output
gallery/

# Pin the interpreter for uv. Un-ignored explicitly because a global
# ignore of dotfiles would otherwise drop it.
!.python-version
