<?xml version='1.0' encoding='utf-8'?>
<robot name="kaz2">
  <link name="root">
    <inertial>
      <origin xyz="-0.0071869 -4.8308e-05 0.0249881" rpy="0 0 0" />
      <mass value="0.339" />
      <inertia ixx="0.0006522764" ixy="-7.40487e-08" ixz="2.73824e-06" iyy="0.0002564434" iyz="-1.31291e-08" izz="0.0004347489" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <inertial>
      <origin xyz="2.838071e-19 -0.00412894 0.0229806" rpy="0 0 0" />
      <mass value="0.0277625" />
      <inertia ixx="7.82618e-06" ixy="-1.413256e-23" ixz="5.35842e-23" iyy="7.14911e-06" iyz="1.68327e-06" izz="4.14491e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="-0.0094077 0.042013 4.296532e-18" rpy="0 0 0" />
      <mass value="0.0489215" />
      <inertia ixx="9.58676e-06" ixy="2.09579e-06" ixz="7.822613e-22" iyy="3.6254e-06" iyz="-2.076324e-21" izz="8.13532e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_collar_y">
    <inertial>
      <origin xyz="0.00826366 0.0491478 -0.0119205" rpy="0 0 0" />
      <mass value="0.0622455" />
      <inertia ixx="2.80392e-05" ixy="-3.01024e-06" ixz="1.06963e-06" iyy="1.57156e-05" iyz="4.34235e-06" izz="2.85562e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-collar-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-collar-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <inertial>
      <origin xyz="-7.120228e-18 0.0485062 -0.00310054" rpy="0 0 0" />
      <mass value="0.0722455" />
      <inertia ixx="3.27964e-05" ixy="3.711042e-21" ixz="-4.224082e-22" iyy="1.38252e-05" iyz="1.8702e-06" izz="2.31209e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <inertial>
      <origin xyz="-0.00381875 0.0386009 -1.421085e-16" rpy="0 0 0" />
      <mass value="0.0302455" />
      <inertia ixx="1.41548e-05" ixy="1.16961e-06" ixz="-7.525988e-22" iyy="6.63145e-06" iyz="4.90021e-21" izz="1.16154e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_thumb">
    <inertial>
      <origin xyz="-0.00933656 0.0108352 0.00240595" rpy="0 0 0" />
      <mass value="0.0589215" />
      <inertia ixx="4.41938e-06" ixy="-5.17047e-07" ixz="2.00407e-07" iyy="3.66515e-06" iyz="1.33239e-07" izz="2.9044e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-thumb.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_larm-thumb.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <inertial>
      <origin xyz="-1.480559e-18 0.00608823 0.0175178" rpy="0 0 0" />
      <mass value="0.017114" />
      <inertia ixx="1.48605e-05" ixy="-2.50793e-22" ixz="7.603206e-22" iyy="1.00623e-05" iyz="1.82525e-06" izz="5.93917e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_p">
    <inertial>
      <origin xyz="-4.65743e-18 0.0345 -6.612353e-18" rpy="0 0 0" />
      <mass value="0.129" />
      <inertia ixx="0.0001137069" ixy="1.248087e-20" ixz="-3.411036e-36" iyy="2.15e-05" iyz="2.450245e-20" izz="0.0001008069" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_p">
    <inertial>
      <origin xyz="1.652297e-17 0.025 3.907018e-17" rpy="0 0 0" />
      <mass value="0.018491" />
      <inertia ixx="1.25183e-05" ixy="5.083715e-22" ixz="-1.269796e-35" iyy="9.19572e-06" iyz="9.648894e-22" izz="4.55534e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_p">
    <inertial>
      <origin xyz="-0.00250472 0.0101663 1.558259e-17" rpy="0 0 0" />
      <mass value="0.0734215" />
      <inertia ixx="2.1685e-05" ixy="6.13067e-07" ixz="6.691024e-22" iyy="1.53517e-05" iyz="2.239283e-22" izz="1.9242e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_r">
    <inertial>
      <origin xyz="1.421085e-16 0.0097052 5.329071e-18" rpy="0 0 0" />
      <mass value="0.0645" />
      <inertia ixx="1.72e-05" ixy="1.305747e-34" ixz="-6.536686e-35" iyy="1.075e-05" iyz="6.512836e-36" izz="1.075e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_lleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_collar_y">
    <inertial>
      <origin xyz="0.00826366 0.0491478 0.0119205" rpy="0 0 0" />
      <mass value="0.0622455" />
      <inertia ixx="2.80392e-05" ixy="-3.01024e-06" ixz="-1.06963e-06" iyy="1.57156e-05" iyz="-4.34235e-06" izz="2.85562e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-collar-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-collar-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <inertial>
      <origin xyz="-8.254818e-18 0.0485062 0.00310054" rpy="0 0 0" />
      <mass value="0.0722455" />
      <inertia ixx="3.27964e-05" ixy="3.617935e-21" ixz="3.106451e-22" iyy="1.38252e-05" iyz="-1.8702e-06" izz="2.31209e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <inertial>
      <origin xyz="-0.00381875 0.0386009 2.202682e-16" rpy="0 0 0" />
      <mass value="0.0302455" />
      <inertia ixx="1.41548e-05" ixy="1.16961e-06" ixz="-3.369621e-22" iyy="6.63145e-06" iyz="4.731229e-21" izz="1.16154e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_thumb">
    <inertial>
      <origin xyz="-0.00933656 0.0108352 -0.00240595" rpy="0 0 0" />
      <mass value="0.0589215" />
      <inertia ixx="4.41938e-06" ixy="-5.17047e-07" ixz="-2.00407e-07" iyy="3.66515e-06" iyz="-1.33239e-07" izz="2.9044e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-thumb.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rarm-thumb.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <inertial>
      <origin xyz="2.966286e-18 0.00608823 -0.0175178" rpy="0 0 0" />
      <mass value="0.017114" />
      <inertia ixx="1.48605e-05" ixy="4.228358e-22" ixz="-7.343708e-23" iyy="1.00623e-05" iyz="-1.82525e-06" izz="5.93917e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_p">
    <inertial>
      <origin xyz="-4.681566e-18 0.0345 -6.612353e-18" rpy="0 0 0" />
      <mass value="0.129" />
      <inertia ixx="0.0001137069" ixy="1.248087e-20" ixz="-3.3838e-36" iyy="2.15e-05" iyz="2.450245e-20" izz="0.0001008069" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_p">
    <inertial>
      <origin xyz="1.652297e-17 0.025 3.907018e-17" rpy="0 0 0" />
      <mass value="0.018491" />
      <inertia ixx="1.25183e-05" ixy="5.083715e-22" ixz="-1.263451e-35" iyy="9.19572e-06" iyz="9.648894e-22" izz="4.55534e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_p">
    <inertial>
      <origin xyz="-0.00250472 0.0101663 1.76796e-17" rpy="0 0 0" />
      <mass value="0.0734215" />
      <inertia ixx="2.1685e-05" ixy="6.13067e-07" ixz="-2.705486e-21" iyy="1.53517e-05" iyz="-1.756977e-21" izz="1.9242e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_r">
    <inertial>
      <origin xyz="1.136868e-16 0.0097052 1.24345e-17" rpy="0 0 0" />
      <mass value="0.0645" />
      <inertia ixx="1.72e-05" ixy="-3.915652e-35" ixz="-9.11797e-35" iyy="1.075e-05" iyz="-4.274048e-36" izz="1.075e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kaz2_robot/meshes/_rleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="head_neck_y" type="revolute">
    <parent link="root" />
    <child link="head_neck_y" />
    <origin xyz="0 0 0.0565" rpy="-0 -0 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="head_neck_y" />
    <child link="head_neck_p" />
    <origin xyz="0 0 0.029" rpy="1.5707963 -0 1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.5707963" />
  </joint>
  <joint name="larm_collar_y" type="revolute">
    <parent link="root" />
    <child link="larm_collar_y" />
    <origin xyz="0 0.056 0.0525" rpy="3.1415927 -1.224647e-16 -3.1415927" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.6580628" upper="0.78539816" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="larm_collar_y" />
    <child link="larm_shoulder_p" />
    <origin xyz="1.714506e-18 0.055 -0.014" rpy="1.5707963 1.915538e-16 2.46519e-32" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="0.61086524" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_elbow_p" />
    <origin xyz="-1.0284112e-17 0.0655 -0.0055" rpy="3.260251e-48 3.655194e-32 3.45446e-17" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.0943951" upper="1.5707963" />
  </joint>
  <joint name="larm_thumb" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_thumb" />
    <origin xyz="-0.0055 0.0555 -1.2323475e-17" rpy="-1.5707963 -6.50354e-17 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="root" />
    <child link="lleg_crotch_y" />
    <origin xyz="0 0.0485 -0.0065" rpy="3.1415927 -1.224647e-16 -3.1415927" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.2217305" upper="0.78539816" />
  </joint>
  <joint name="lleg_crotch_p" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_p" />
    <origin xyz="-5.878305e-18 -7.198848e-34 0.048" rpy="1.5707963 -0 1.232595e-32" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.443461" upper="1.5707963" />
  </joint>
  <joint name="lleg_knee_p" type="revolute">
    <parent link="lleg_crotch_p" />
    <child link="lleg_knee_p" />
    <origin xyz="1.4210845e-17 0.069 -1.5321077e-17" rpy="0 9.7852247e-33 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="2.443461" />
  </joint>
  <joint name="lleg_ankle_p" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_ankle_p" />
    <origin xyz="-1.4210845e-17 0.05 -1.110223e-17" rpy="2.220446e-16 -0 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.3962634" upper="1.3962634" />
  </joint>
  <joint name="lleg_ankle_r" type="revolute">
    <parent link="lleg_ankle_p" />
    <child link="lleg_ankle_r" />
    <origin xyz="-0.035 0.0135 -1.0769163e-17" rpy="-1.5707963 -8.795208e-16 4.440892e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.78539816" upper="0.78539816" />
  </joint>
  <joint name="rarm_collar_y" type="revolute">
    <parent link="root" />
    <child link="rarm_collar_y" />
    <origin xyz="0 -0.056 0.0525" rpy="0 -0 3.1415927" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.6580628" upper="0.78539816" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="rarm_collar_y" />
    <child link="rarm_shoulder_p" />
    <origin xyz="-6.735557e-18 0.055 0.014" rpy="-1.5707963 -1.570092e-16 -3.45446e-17" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="0.61086524" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_elbow_p" />
    <origin xyz="-1.028411e-17 0.0655 0.0055" rpy="-2.4651903e-32 -2.7192603e-32 3.45446e-17" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.0943951" upper="1.5707963" />
  </joint>
  <joint name="rarm_thumb" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_thumb" />
    <origin xyz="-0.0055 0.0555 -1.3187026e-17" rpy="1.5707963 -6.50354e-17 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="root" />
    <child link="rleg_crotch_y" />
    <origin xyz="0 -0.0485 -0.0065" rpy="0 -0 3.1415927" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.2217305" upper="0.78539816" />
  </joint>
  <joint name="rleg_crotch_p" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_p" />
    <origin xyz="0 0 -0.048" rpy="-1.5707963 -1.224647e-16 1.224647e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.443461" upper="1.5707963" />
  </joint>
  <joint name="rleg_knee_p" type="revolute">
    <parent link="rleg_crotch_p" />
    <child link="rleg_knee_p" />
    <origin xyz="-1.421085e-17 0.069 -1.5321077e-17" rpy="0 9.7852247e-33 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="2.443461" />
  </joint>
  <joint name="rleg_ankle_p" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_ankle_p" />
    <origin xyz="-7.105427e-18 0.05 -1.110223e-17" rpy="2.220446e-16 -0 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.3962634" upper="1.3962634" />
  </joint>
  <joint name="rleg_ankle_r" type="revolute">
    <parent link="rleg_ankle_p" />
    <child link="rleg_ankle_r" />
    <origin xyz="-0.035 0.0135 -1.0769163e-17" rpy="1.5707963 2.833289e-16 4.440892e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.78539816" upper="0.78539816" />
  </joint>
</robot>