<?xml version='1.0' encoding='utf-8'?>
<robot name="h4">
  <link name="root">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.000769231 0.13 0.488861" rpy="0 0 0" />
      <mass value="5.2" />
      <inertia ixx="0.061439683" ixy="-3.0699614e-06" ixz="-0.00052248873" iyy="0.048003387" iyz="-1.6725296e-05" izz="0.028551783" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4waist_nil_0">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-1.364562e-19 -0.0208485 0.033731" rpy="0 0 0" />
      <mass value="1.05" />
      <inertia ixx="0.0027532016" ixy="-1.7771505e-19" ixz="1.9796958e-20" iyy="0.0024227295" iyz="8.1766267e-05" izz="0.0018335948" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-0.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-0.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4waist_nil_1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-0.028248 -0.0212471 3.078709e-18" rpy="0 0 0" />
      <mass value="2" />
      <inertia ixx="0.0033114218" ixy="-0.0002140961" ixz="-5.5322201e-20" iyy="0.0047824189" iyz="3.130738e-19" izz="0.0056022241" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-1.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4waist_nil_2">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="1.666952e-17 -0.185768 -0.12498" rpy="0 0 0" />
      <mass value="49.6" />
      <inertia ixx="1.5746437" ixy="-0.0060060961" ixz="-0.00049020249" iyy="1.4984448" iyz="-0.10099292" izz="2.1204632" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4waist-nil-2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_0">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.0469239 -1.827978e-17 0.0280377" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.00087626979" ixy="2.9657039e-20" ixz="6.8473963e-05" iyy="0.0011590161" iyz="-2.9879897e-20" izz="0.0011612063" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-0.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-0.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="1.278833e-18 -1.101218e-19 -2.770806e-19" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.00012256061" ixy="-6.2665198e-22" ixz="1.462188e-20" iyy="0.00017710606" iyz="-5.3877584e-21" izz="0.00012954545" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-1.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_2">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.00167322 8.415485e-19 -0.0250189" rpy="0 0 0" />
      <mass value="2" />
      <inertia ixx="0.0074067363" ixy="1.0361375e-19" ixz="0.00016175725" iyy="0.0075128539" iyz="1.0654893e-18" izz="0.00057586248" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_3">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-0.0397988 1.838236e-19 0.00433445" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="9.4526388e-05" ixy="5.4271316e-20" ixz="-5.1112068e-06" iyy="0.00020979717" iyz="-2.45485e-20" izz="0.00018567328" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_4">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-1.842e-05 2.053279e-18 0.0669338" rpy="0 0 0" />
      <mass value="0.8" />
      <inertia ixx="0.0020278765" ixy="6.3691321e-22" ixz="-2.0805215e-06" iyy="0.0020297525" iyz="-1.5717474e-18" izz="9.1138393e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-4.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-4.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4rarm_nil_5">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.0224752 -0.00636638 4.506601e-18" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1.4642413e-05" ixy="5.0446508e-06" ixz="2.5816785e-20" iyy="7.0403408e-05" iyz="4.8288265e-21" izz="6.1057435e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-5.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4rarm-nil-5.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_0">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-0.0469239 -1.707365e-17 -0.0280377" rpy="0 0 0" />
      <mass value="1" />
      <inertia ixx="0.00087626979" ixy="-2.3378457e-19" ixz="6.8473963e-05" iyy="0.0011590161" iyz="-2.0163362e-21" izz="0.0011612063" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-0.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-0.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="7.601954e-19 -2.486621e-20 -1.506182e-18" rpy="0 0 0" />
      <mass value="0.5" />
      <inertia ixx="0.00012256061" ixy="1.8799559e-21" ixz="1.2115272e-20" iyy="0.00017710606" iyz="-4.8259445e-21" izz="0.00012954545" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-1.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_2">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.00167322 -2.089996e-20 -0.0250189" rpy="0 0 0" />
      <mass value="2" />
      <inertia ixx="0.0074067371" ixy="2.1459766e-19" ixz="0.00016175733" iyy="0.0075128539" iyz="1.4182529e-18" izz="0.00057586141" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_3">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.0397988 -1.390167e-18 -0.00433445" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="9.4526422e-05" ixy="-2.2726954e-20" ixz="-5.1112216e-06" iyy="0.00020979735" iyz="5.9899993e-20" izz="0.00018567344" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_4">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-1.842e-05 2.053279e-18 0.0669338" rpy="0 0 0" />
      <mass value="0.8" />
      <inertia ixx="0.0020278764" ixy="-5.246002e-21" ixz="-2.0809303e-06" iyy="0.0020297517" iyz="5.8635852e-21" izz="9.1137666e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-4.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-4.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4larm_nil_5">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0.0224752 -0.00636638 4.506601e-18" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="1.4642413e-05" ixy="5.0446508e-06" ixz="3.4549507e-20" iyy="7.0403408e-05" iyz="1.6852857e-20" izz="6.1057435e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-5.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4larm-nil-5.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4head_nil_0">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="6.87228e-18 1.510314e-18 -0.00399806" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="9.8453558e-06" ixy="2.1077687e-20" ixz="-1.8167994e-21" iyy="6.5302592e-05" iyz="-0" izz="6.1638923e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-nil-0.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-nil-0.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4head_nil_1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-0.0313308 1.167304e-18 1.233415e-17" rpy="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.00019849617" ixy="2.4261733e-17" ixz="-2.2672062e-11" iyy="0.00021267653" iyz="4.1496615e-12" izz="8.1188114e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-nil-1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-nil-1.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4head_camera2">
    <inertial>
      <origin xyz="-4.263256e-17 -0.00147676 1.421085e-17" rpy="0 0 0" />
      <mass value="0.17" />
      <inertia ixx="0.0004833698" ixy="-1.070289e-20" ixz="2.26327e-19" iyy="0.000482999" iyz="7.90223e-06" izz="9.33957e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-camera2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-camera2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="h4head_camera1">
    <inertial>
      <origin xyz="4.973799e-17 -0.00147676 2.131628e-17" rpy="0 0 0" />
      <mass value="0.17" />
      <inertia ixx="0.0004833698" ixy="1.24867e-20" ixz="-2.679525e-19" iyy="0.000482999" iyz="7.90223e-06" izz="9.33957e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-camera1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h4_robot/meshes/_h4head-camera1.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="h4waist_waist2_z" type="revolute">
    <parent link="root" />
    <child link="h4waist_nil_0" />
    <origin xyz="0.02 0.13 0.17825" rpy="-3.486306e-32 -3.486306e-32 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="h4waist_waist_x" type="revolute">
    <parent link="h4waist_nil_0" />
    <child link="h4waist_nil_1" />
    <origin xyz="0 0 0" rpy="-5.55112e-17 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="h4waist_waist1_z" type="revolute">
    <parent link="h4waist_nil_1" />
    <child link="h4waist_nil_2" />
    <origin xyz="-0.29825 1.65562e-17 -3.3112401e-17" rpy="-1.0149815e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="h4rarm_shoulder_p" type="revolute">
    <parent link="root" />
    <child link="h4rarm_nil_0" />
    <origin xyz="9.145779e-17 0.008 0.5" rpy="1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.17453293" upper="2.9670597" />
  </joint>
  <joint name="h4rarm_shoulder_r" type="revolute">
    <parent link="h4rarm_nil_0" />
    <child link="h4rarm_nil_1" />
    <origin xyz="0 -3.4e-23 0.048" rpy="-1.5707963 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.0943951" upper="0.78539816" />
  </joint>
  <joint name="h4rarm_shoulder_y" type="revolute">
    <parent link="h4rarm_nil_1" />
    <child link="h4rarm_nil_2" />
    <origin xyz="2.0816685e-17 0.075 -4.592415e-18" rpy="1.5707963 2.77556e-16 -8.12942e-17" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="h4rarm_elbow_p" type="revolute">
    <parent link="h4rarm_nil_2" />
    <child link="h4rarm_nil_3" />
    <origin xyz="-0.002 3.76e-23 -0.127" rpy="-1.665334e-16 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.087266463" upper="2.3561945" />
  </joint>
  <joint name="h4rarm_wrist_y" type="revolute">
    <parent link="h4rarm_nil_3" />
    <child link="h4rarm_nil_4" />
    <origin xyz="-0.23 -2.5200353e-17 -0.005" rpy="3.1415927 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="h4rarm_wrist_p" type="revolute">
    <parent link="h4rarm_nil_4" />
    <child link="h4rarm_nil_5" />
    <origin xyz="-1.4676436e-17 -2.8e-23 -0.02" rpy="5.551115e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.087266463" upper="2.3561945" />
  </joint>
  <joint name="h4larm_shoulder_p" type="revolute">
    <parent link="root" />
    <child link="h4larm_nil_0" />
    <origin xyz="-9.231504e-17 0.252 0.5" rpy="1.5707963 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.17453293" upper="2.9670597" />
  </joint>
  <joint name="h4larm_shoulder_r" type="revolute">
    <parent link="h4larm_nil_0" />
    <child link="h4larm_nil_1" />
    <origin xyz="-5.3290704e-18 -3.6e-23 -0.048" rpy="-1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.0943951" upper="0.78539816" />
  </joint>
  <joint name="h4larm_shoulder_y" type="revolute">
    <parent link="h4larm_nil_1" />
    <child link="h4larm_nil_2" />
    <origin xyz="-1.6653345e-17 0.075 -4.5924e-18" rpy="1.5707963 1.66533e-16 3.2017538e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="h4larm_elbow_p" type="revolute">
    <parent link="h4larm_nil_2" />
    <child link="h4larm_nil_3" />
    <origin xyz="0.002 -1.306e-23 -0.127" rpy="1.11022e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.087266463" upper="2.3561945" />
  </joint>
  <joint name="h4larm_wrist_y" type="revolute">
    <parent link="h4larm_nil_3" />
    <child link="h4larm_nil_4" />
    <origin xyz="0.23 -1.2767558e-17 0.005" rpy="-2.220446e-16 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="h4larm_wrist_p" type="revolute">
    <parent link="h4larm_nil_4" />
    <child link="h4larm_nil_5" />
    <origin xyz="1.256074e-17 -1.4791142e-32 -0.02" rpy="1.66533e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.087266463" upper="2.3561945" />
  </joint>
  <joint name="h4head_neck_z" type="revolute">
    <parent link="root" />
    <child link="h4head_nil_0" />
    <origin xyz="0.02 0.13 0.677" rpy="-3.486306e-32 -3.486306e-32 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="h4head_neck_x" type="revolute">
    <parent link="h4head_nil_0" />
    <child link="h4head_nil_1" />
    <origin xyz="0 0 0" rpy="-5.55112e-17 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="h4head_camera2_z" type="revolute">
    <parent link="h4head_nil_1" />
    <child link="h4head_camera2" />
    <origin xyz="0.047 3.7359004e-17 0.06" rpy="-1.0149815e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="h4head_camera1_z" type="revolute">
    <parent link="h4head_nil_1" />
    <child link="h4head_camera1" />
    <origin xyz="0.047 -4.2577052e-17 -0.06" rpy="-1.0149815e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
</robot>