<?xml version='1.0' encoding='utf-8'?>
<robot name="kxrl2l2a6h2m">
  <link name="torso_link_l2l6m">
    <inertial>
      <origin xyz="-0.00531939 2.134427e-10 0.0335027" rpy="0 0 0" />
      <mass value="0.437124" />
      <inertia ixx="0.00129931" ixy="-8.28224e-06" ixz="-1.69917e-06" iyy="0.001374103" iyz="1.4569e-06" izz="0.002216443" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/torso-link-l2l6m.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/torso-link-l2l6m.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <inertial>
      <origin xyz="-1.627437e-19 1.220558e-18 0.0230927" rpy="0 0 0" />
      <mass value="0.0373978" />
      <inertia ixx="6.28707e-05" ixy="4.202194e-24" ixz="8.61164e-09" iyy="6.69539e-05" iyz="-5.25778e-09" izz="2.5436e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="0.00185016 7.98503e-18 0.171795" rpy="0 0 0" />
      <mass value="0.17085" />
      <inertia ixx="0.0009497604" ixy="-1.79922e-07" ixz="-6.65543e-08" iyy="0.000865261" iyz="-1.79583e-08" izz="0.0002027165" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <inertial>
      <origin xyz="1.417335e-18 1.499947e-18 0.0174011" rpy="0 0 0" />
      <mass value="0.0368641" />
      <inertia ixx="2.83367e-05" ixy="0" ixz="8.61164e-09" iyy="2.82621e-05" iyz="-5.25778e-09" izz="2.97098e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <inertial>
      <origin xyz="-1.848807e-19 0.00751396 -0.0254158" rpy="0 0 0" />
      <mass value="0.0384325" />
      <inertia ixx="0.0002477469" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="9.43263e-05" iyz="-5.24227e-07" izz="0.000159403" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <inertial>
      <origin xyz="1.417335e-18 1.499947e-18 0.0174011" rpy="0 0 0" />
      <mass value="0.0368641" />
      <inertia ixx="2.83367e-05" ixy="0" ixz="8.61164e-09" iyy="2.82621e-05" iyz="-5.25778e-09" izz="2.97098e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <inertial>
      <origin xyz="3.882495e-18 -0.00751396 -0.0254158" rpy="0 0 0" />
      <mass value="0.0384325" />
      <inertia ixx="0.0002477469" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="9.43263e-05" iyz="-5.24227e-07" izz="0.000159403" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="3.94725e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.58467e-05" iyz="2.68346e-09" izz="1.89272e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_r">
    <inertial>
      <origin xyz="-0.0131476 0.00855648 1.076206e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="8.84213e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.51421e-05" iyz="1.21718e-07" izz="8.07487e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_y">
    <inertial>
      <origin xyz="0 7.319354e-19 0.0164271" rpy="0 0 0" />
      <mass value="0.0129387" />
      <inertia ixx="4.20135e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.71658e-05" iyz="-4.7056e-09" izz="2.91052e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <inertial>
      <origin xyz="0.0147919 8.046901e-19 -0.00547743" rpy="0 0 0" />
      <mass value="0.0529801" />
      <inertia ixx="6.26397e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="2.76781e-05" iyz="-6.74218e-07" izz="6.53223e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_p">
    <inertial>
      <origin xyz="-1.401551e-18 0.0131476 -0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="7.68304e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.20635e-05" iyz="1.21718e-07" izz="8.18295e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_r">
    <inertial>
      <origin xyz="0.0195521 0.0799311 -0.03" rpy="0 0 0" />
      <mass value="0.042589" />
      <inertia ixx="6.06965e-05" ixy="-2.662685e-24" ixz="8.61164e-09" iyy="2.91623e-05" iyz="-5.25778e-09" izz="6.59873e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper2_r">
    <inertial>
      <origin xyz="0.0485227 -0.0192422 -2.677874e-18" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="2.83996e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.2066e-05" iyz="-1.52851e-07" izz="3.70994e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper_r">
    <inertial>
      <origin xyz="0.0485227 0.0167635 -2.517201e-17" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="5.60417e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.2066e-05" iyz="-1.52851e-07" izz="6.47415e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/larm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="3.94725e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.58467e-05" iyz="2.68346e-09" izz="1.89272e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_r">
    <inertial>
      <origin xyz="-0.0131476 -0.00855648 3.041376e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="8.84213e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.51421e-05" iyz="1.21718e-07" izz="8.07487e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_y">
    <inertial>
      <origin xyz="0 7.319354e-19 0.0164271" rpy="0 0 0" />
      <mass value="0.0129387" />
      <inertia ixx="4.20135e-05" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="1.71658e-05" iyz="-4.7056e-09" izz="2.91052e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <inertial>
      <origin xyz="0.0147919 8.046901e-19 -0.00547743" rpy="0 0 0" />
      <mass value="0.0529801" />
      <inertia ixx="6.26397e-05" ixy="5.66051e-08" ixz="1.81381e-08" iyy="2.76781e-05" iyz="-6.74218e-07" izz="6.53223e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_p">
    <inertial>
      <origin xyz="-1.561791e-18 -0.0131476 -0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="7.68304e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.20635e-05" iyz="1.21718e-07" izz="8.18295e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_r">
    <inertial>
      <origin xyz="0.0195521 -0.0799311 -0.03" rpy="0 0 0" />
      <mass value="0.042589" />
      <inertia ixx="6.06965e-05" ixy="-2.862525e-24" ixz="8.61164e-09" iyy="2.91623e-05" iyz="-5.25778e-09" izz="6.59873e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper2_r">
    <inertial>
      <origin xyz="0.0485227 0.0192422 2.142299e-18" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="2.83996e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.2066e-05" iyz="-1.52851e-07" izz="3.70994e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper_r">
    <inertial>
      <origin xyz="0.0485227 -0.0167635 -5.355747e-18" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="5.60417e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="2.2066e-05" iyz="-1.52851e-07" izz="6.47415e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2l2a6h2m/meshes/rarm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="head_neck_y" type="revolute">
    <parent link="torso_link_l2l6m" />
    <child link="head_neck_y" />
    <origin xyz="-0.00725 1.609823e-18 0.084" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="head_neck_y" />
    <child link="head_neck_p" />
    <origin xyz="0 0 0.036" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="torso_link_l2l6m" />
    <child link="lleg_crotch_y" />
    <origin xyz="-1.194031e-18 0.034 -0.031" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_r" />
    <origin xyz="4.041335e-18 0 -0.033" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="torso_link_l2l6m" />
    <child link="rleg_crotch_y" />
    <origin xyz="2.47991e-18 -0.034 -0.031" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_r" />
    <origin xyz="4.041334e-18 0 -0.033" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="torso_link_l2l6m" />
    <child link="larm_shoulder_p" />
    <origin xyz="0.00725 0.0465 0.069" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_shoulder_r" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_shoulder_r" />
    <origin xyz="0 0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="larm_shoulder_y" type="revolute">
    <parent link="larm_shoulder_r" />
    <child link="larm_shoulder_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_shoulder_y" />
    <child link="larm_elbow_p" />
    <origin xyz="0 0 -0.041" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="larm_wrist_p" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_wrist_p" />
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.1816616" upper="1.7453293" />
  </joint>
  <joint name="larm_wrist_r" type="revolute">
    <parent link="larm_wrist_p" />
    <child link="larm_wrist_r" />
    <origin xyz="0.015 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="larm_gripper2_r" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_gripper2_r" />
    <origin xyz="0.0315 -0.0129787 0" rpy="1.5707963 1.5707963 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="larm_gripper_r" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_gripper_r" />
    <origin xyz="0.0315 0.0105 0" rpy="-1.5707963 -1.5707963 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="torso_link_l2l6m" />
    <child link="rarm_shoulder_p" />
    <origin xyz="0.00725 -0.0465 0.069" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_shoulder_r" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_shoulder_r" />
    <origin xyz="0 -0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="rarm_shoulder_y" type="revolute">
    <parent link="rarm_shoulder_r" />
    <child link="rarm_shoulder_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_shoulder_y" />
    <child link="rarm_elbow_p" />
    <origin xyz="0 0 -0.041" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rarm_wrist_p" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_wrist_p" />
    <origin xyz="-0.0235 0 -0.043" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.1816616" upper="1.7453293" />
  </joint>
  <joint name="rarm_wrist_r" type="revolute">
    <parent link="rarm_wrist_p" />
    <child link="rarm_wrist_r" />
    <origin xyz="0.015 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rarm_gripper2_r" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_gripper2_r" />
    <origin xyz="0.0315 0.0129787 0" rpy="-1.5707963 -1.5707963 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_gripper_r" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_gripper_r" />
    <origin xyz="0.0315 -0.0105 0" rpy="1.5707963 1.5707963 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
</robot>