<?xml version='1.0' encoding='utf-8'?>
<robot name="darkgoldenrod-stairs">
  <link name="stairs_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="5" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://darkgoldenrod_stairs_object/meshes/_stairs-link.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://darkgoldenrod_stairs_object/meshes/_stairs-link.glb" />
      </geometry>
    </collision>
  </link>
</robot>