<?xml version='1.0' encoding='utf-8'?>
<robot name="kxrl4b2sn">
  <link name="torso_link_l4b">
    <inertial>
      <origin xyz="-0.00516089 2.072045e-10 0.00675209" rpy="0 0 0" />
      <mass value="0.450549" />
      <inertia ixx="0.001445029" ixy="-8.28424e-06" ixz="-1.64241e-06" iyy="0.001254883" iyz="1.46101e-06" izz="0.002204238" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/torso-link-l4b.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/torso-link-l4b.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="2.57806e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.6054e-05" iyz="2.68346e-09" izz="5.02798e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_r">
    <inertial>
      <origin xyz="-0.0131476 4.003831e-18 0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="7.71038e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="8.39271e-05" iyz="1.21718e-07" izz="5.06463e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="0.00725 0 0.135543" rpy="0 0 0" />
      <mass value="0.0730562" />
      <inertia ixx="0.0001388747" ixy="-3.18804e-09" ixz="3.84132e-09" iyy="0.0001463675" iyz="-1.52212e-08" izz="5.09646e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_reye_y">
    <inertial>
      <origin xyz="0.032125 -0.00737453 1.127094e-17" rpy="0 0 0" />
      <mass value="0.0432413" />
      <inertia ixx="0.0002758946" ixy="-1.504e-09" ixz="7.30674e-08" iyy="0.0002739411" iyz="-5.08979e-08" izz="5.00245e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-reye-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-reye-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_leye_y">
    <inertial>
      <origin xyz="0.032125 0.00737453 1.195212e-17" rpy="0 0 0" />
      <mass value="0.0432413" />
      <inertia ixx="0.0002758946" ixy="-1.504e-09" ixz="7.30674e-08" iyy="0.0002739411" iyz="-5.08979e-08" izz="5.00245e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-leye-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/head-leye-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_p">
    <inertial>
      <origin xyz="1.251539e-18 1.31177e-19 0.0122668" rpy="0 0 0" />
      <mass value="0.0113547" />
      <inertia ixx="3.68722e-05" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="2.26023e-05" iyz="3.6276e-09" izz="1.91484e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <inertial>
      <origin xyz="-2.207178e-19 3.344209e-19 -0.0166317" rpy="0 0 0" />
      <mass value="0.0424939" />
      <inertia ixx="0.000109685" ixy="-1.82679e-09" ixz="1.02406e-08" iyy="7.76488e-05" iyz="-1.63018e-09" izz="6.17158e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="0.0001663281" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.0001315317" iyz="-6.81607e-07" izz="6.48071e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_p">
    <inertial>
      <origin xyz="0.00222221 1.867e-06 -0.0127838" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="0.0001974206" ixy="-3.94e-12" ixz="6.70242e-09" iyy="0.0001776831" iyz="-6.02408e-09" izz="4.90167e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/lleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_p">
    <inertial>
      <origin xyz="1.251539e-18 1.31177e-19 0.0122668" rpy="0 0 0" />
      <mass value="0.0113547" />
      <inertia ixx="3.68722e-05" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="2.26023e-05" iyz="3.6276e-09" izz="1.91484e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <inertial>
      <origin xyz="-2.207178e-19 3.344209e-19 -0.0166317" rpy="0 0 0" />
      <mass value="0.0424939" />
      <inertia ixx="0.000109685" ixy="-1.82679e-09" ixz="1.02406e-08" iyy="7.76488e-05" iyz="-1.63018e-09" izz="6.17158e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="0.0001663281" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.0001315317" iyz="-6.81607e-07" izz="6.48071e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_p">
    <inertial>
      <origin xyz="0.00222221 1.867e-06 -0.0127838" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="0.0001974206" ixy="-3.94e-12" ixz="6.70242e-09" iyy="0.0001776831" iyz="-6.02408e-09" izz="4.90167e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <inertial>
      <origin xyz="1.251539e-18 1.31177e-19 0.0122668" rpy="0 0 0" />
      <mass value="0.0113547" />
      <inertia ixx="3.68722e-05" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="2.26023e-05" iyz="3.6276e-09" izz="1.91484e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_r">
    <inertial>
      <origin xyz="-2.207178e-19 3.344209e-19 -0.0166317" rpy="0 0 0" />
      <mass value="0.0424939" />
      <inertia ixx="6.48378e-05" ixy="-1.82679e-09" ixz="1.02406e-08" iyy="3.28017e-05" iyz="-1.63018e-09" izz="6.17158e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="6.76165e-05" ixy="5.54708e-08" ixz="2.00452e-08" iyy="3.28201e-05" iyz="-6.81607e-07" izz="6.48071e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_p">
    <inertial>
      <origin xyz="0.00222221 1.867e-06 -0.0127838" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="6.03952e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="4.06577e-05" iyz="-6.02408e-09" izz="4.90167e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/larm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <inertial>
      <origin xyz="1.251539e-18 1.31177e-19 0.0122668" rpy="0 0 0" />
      <mass value="0.0113547" />
      <inertia ixx="3.68722e-05" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="2.26023e-05" iyz="3.6276e-09" izz="1.91484e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_r">
    <inertial>
      <origin xyz="-2.207178e-19 3.344209e-19 -0.0166317" rpy="0 0 0" />
      <mass value="0.0424939" />
      <inertia ixx="6.48378e-05" ixy="-1.82679e-09" ixz="1.02406e-08" iyy="3.28017e-05" iyz="-1.63018e-09" izz="6.17158e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="6.76165e-05" ixy="5.54708e-08" ixz="2.00452e-08" iyy="3.28201e-05" iyz="-6.81607e-07" izz="6.48071e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_p">
    <inertial>
      <origin xyz="0.00222221 1.867e-06 -0.0127838" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="6.03952e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="4.06577e-05" iyz="-6.02408e-09" izz="4.90167e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl4b2sn/meshes/rarm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="head_neck_y" type="revolute">
    <parent link="torso_link_l4b" />
    <child link="head_neck_y" />
    <origin xyz="0.00725 -8.8786e-19 0.057" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="head_neck_r" type="revolute">
    <parent link="head_neck_y" />
    <child link="head_neck_r" />
    <origin xyz="0 1.5308e-18 0.031" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="head_neck_r" />
    <child link="head_neck_p" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="head_reye_y" type="revolute">
    <parent link="head_neck_p" />
    <child link="head_reye_y" />
    <origin xyz="0 -0.0315 0.051" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="head_leye_y" type="revolute">
    <parent link="head_neck_p" />
    <child link="head_leye_y" />
    <origin xyz="0 0.0315 0.051" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="lleg_crotch_p" type="revolute">
    <parent link="torso_link_l4b" />
    <child link="lleg_crotch_p" />
    <origin xyz="0 0.048 -0.0645" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_p" />
    <child link="lleg_crotch_r" />
    <origin xyz="0 0.029 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.3962634" upper="2.0943951" />
  </joint>
  <joint name="lleg_knee_p" type="revolute">
    <parent link="lleg_crotch_r" />
    <child link="lleg_knee_p" />
    <origin xyz="0 0 -0.0529997" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_ankle_p" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_ankle_p" />
    <origin xyz="0 0 -0.0579763" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rleg_crotch_p" type="revolute">
    <parent link="torso_link_l4b" />
    <child link="rleg_crotch_p" />
    <origin xyz="0 -0.048 -0.0645" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_p" />
    <child link="rleg_crotch_r" />
    <origin xyz="0 -0.029 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.3962634" upper="2.0943951" />
  </joint>
  <joint name="rleg_knee_p" type="revolute">
    <parent link="rleg_crotch_r" />
    <child link="rleg_knee_p" />
    <origin xyz="0 0 -0.0529997" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_ankle_p" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_ankle_p" />
    <origin xyz="0 0 -0.0579763" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="torso_link_l4b" />
    <child link="larm_shoulder_p" />
    <origin xyz="0 0.048 0.0645" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="larm_shoulder_r" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_shoulder_r" />
    <origin xyz="0 0.029 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.3962634" upper="2.0943951" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_shoulder_r" />
    <child link="larm_elbow_p" />
    <origin xyz="0 0 -0.053" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="larm_wrist_p" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_wrist_p" />
    <origin xyz="0 0 -0.057976" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="torso_link_l4b" />
    <child link="rarm_shoulder_p" />
    <origin xyz="0 -0.048 0.0645" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rarm_shoulder_r" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_shoulder_r" />
    <origin xyz="0 -0.029 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.3962634" upper="2.0943951" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_shoulder_r" />
    <child link="rarm_elbow_p" />
    <origin xyz="0 0 -0.053" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rarm_wrist_p" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_wrist_p" />
    <origin xyz="0 0 -0.057976" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
</robot>