<?xml version='1.0' encoding='utf-8'?>
<robot name="h7">
  <link name="root">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="-0.0496091 4.265e-06 0.414385" rpy="0 0 0" />
      <mass value="16.4123" />
      <inertia ixx="0.45156608" ixy="-0.00053225026" ixz="0.0084709881" iyy="0.3273152" iyz="4.853303e-05" izz="0.26728694" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.13638" />
      <inertia ixx="0.0014189257" ixy="1.9911605e-11" ixz="2.5070709e-05" iyy="0.0024876992" iyz="-5.0554146e-10" izz="0.0018274677" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.729538" />
      <inertia ixx="0.00050035678" ixy="7.5431728e-22" ixz="1.9612344e-20" iyy="0.00033488917" iyz="-2.3023727e-20" izz="0.0005003574" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.31241" />
      <inertia ixx="0.025960002" ixy="0.0014592621" ixz="4.8308706e-06" iyy="0.0053485863" iyz="-3.533713e-06" izz="0.026013238" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.68263" />
      <inertia ixx="0.017569659" ixy="-0.00056057492" ixz="-3.4987566e-06" iyy="0.0032631414" iyz="-5.2347394e-06" izz="0.017728166" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.01067" />
      <inertia ixx="0.00081218049" ixy="5.5899143e-21" ixz="4.9181994e-20" iyy="0.00081217877" iyz="4.8853522e-20" izz="0.00046394165" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.702678" />
      <inertia ixx="0.0029287782" ixy="1.6352572e-08" ixz="-1.0842931e-05" iyy="0.0026199558" iyz="-1.4699485e-07" izz="0.0013611166" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_toe">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="8.33333e-05" ixy="0" ixz="0" iyy="0.0002083333" iyz="0" izz="0.0002083333" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-toe.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rleg-toe.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.24586" />
      <inertia ixx="0.00072910593" ixy="-1.7040357e-20" ixz="-6.5116505e-21" iyy="0.00024631084" iyz="7.2875325e-08" izz="0.00073389003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.00943" />
      <inertia ixx="0.006353381" ixy="-6.152696e-06" ixz="-0.00010879283" iyy="0.0054431256" iyz="-2.168539e-06" izz="0.0063497338" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.13638" />
      <inertia ixx="0.0014189257" ixy="1.9911604e-11" ixz="-2.5070709e-05" iyy="0.0024876992" iyz="5.0554146e-10" izz="0.0018274677" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.729538" />
      <inertia ixx="0.00050035678" ixy="-9.8057859e-21" ixz="1.9610863e-20" iyy="0.00033488917" iyz="3.729528e-20" izz="0.0005003574" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.31241" />
      <inertia ixx="0.025960767" ixy="0.0014599231" ixz="4.8308706e-06" iyy="0.0053485863" iyz="-3.5752368e-06" izz="0.026014004" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.68263" />
      <inertia ixx="0.017569659" ixy="-0.00056057492" ixz="-3.4987566e-06" iyy="0.0032631414" iyz="-5.2347394e-06" izz="0.017728166" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.01067" />
      <inertia ixx="0.00081218049" ixy="-8.1519584e-21" ixz="5.8855657e-20" iyy="0.00081217877" iyz="4.6582619e-20" izz="0.00046394165" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.702678" />
      <inertia ixx="0.0029339703" ixy="-1.6177473e-06" ixz="-1.1090799e-05" iyy="0.0026256182" iyz="1.4960017e-07" izz="0.0013702801" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_toe">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.2" />
      <inertia ixx="8.33333e-05" ixy="0" ixz="0" iyy="0.0002083333" iyz="0" izz="0.0002083333" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-toe.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_lleg-toe.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.15023" />
      <inertia ixx="0.0024431219" ixy="-3.7191717e-06" ixz="-5.5533041e-20" iyy="0.0014761352" iyz="-1.5204769e-19" izz="0.0017038662" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.19093" />
      <inertia ixx="0.0018502692" ixy="-2.0556006e-19" ixz="2.2269006e-19" iyy="0.00176456" iyz="0.00013263603" izz="0.0021104887" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.10672" />
      <inertia ixx="0.0020995589" ixy="0.00031233014" ixz="0.00054847213" iyy="0.015923535" iyz="-1.1967899e-06" izz="0.015822028" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.572353" />
      <inertia ixx="0.0016213336" ixy="-5.3882582e-05" ixz="-2.9164194e-20" iyy="0.00067484444" iyz="-2.0268999e-19" izz="0.0016240412" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.867544" />
      <inertia ixx="0.0013023113" ixy="1.3807685e-20" ixz="-1.082147e-19" iyy="0.0014423841" iyz="-9.6058579e-20" izz="0.0005285144" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.867544" />
      <inertia ixx="0.00026814339" ixy="1.3220307e-20" ixz="-2.1594048e-20" iyy="0.00044627909" iyz="-2.6976079e-20" izz="0.0003082673" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.65458" />
      <inertia ixx="0.0015696417" ixy="3.0305753e-20" ixz="5.4340301e-19" iyy="0.0016894837" iyz="-2.5706258e-05" izz="0.00075162417" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_finger2">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="7.413317e-05" ixy="-8.238533e-21" ixz="-3.6739874e-21" iyy="0.00013059029" iyz="1.3126994e-05" izz="8.874547e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_finger3">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="5.2981211e-05" ixy="7.4160939e-21" ixz="-2.4175771e-20" iyy="0.0001135826" iyz="-1.258502e-05" izz="8.0864226e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_finger1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="5.675167e-05" ixy="2.7381192e-21" ixz="-1.0664032e-05" iyy="6.3012199e-05" iyz="1.5103622e-20" izz="1.5316463e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_rarm-finger1.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.15023" />
      <inertia ixx="0.0024431219" ixy="-3.7191717e-06" ixz="-1.1878725e-19" iyy="0.0014761352" iyz="1.5204769e-19" izz="0.0017038662" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1.19093" />
      <inertia ixx="0.0018502692" ixy="-1.3704004e-19" ixz="-1.7130005e-20" iyy="0.00176456" iyz="-0.00013263603" izz="0.0021104887" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="2.10672" />
      <inertia ixx="0.002097661" ixy="0.00031252344" ixz="-0.00055041624" iyy="0.015929072" iyz="2.2490677e-06" izz="0.015830567" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.572353" />
      <inertia ixx="0.0016213336" ixy="-5.3882582e-05" ixz="3.9654434e-20" iyy="0.00067484444" iyz="3.7871269e-19" izz="0.0016240412" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_y">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.867544" />
      <inertia ixx="0.0013023113" ixy="8.5478158e-34" ixz="7.8485422e-19" iyy="0.0014423841" iyz="2.8381627e-19" izz="0.0005285144" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_r">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.867544" />
      <inertia ixx="0.00026814339" ixy="-1.3488039e-19" ixz="9.1023482e-21" iyy="0.00044627909" iyz="-1.4093797e-20" izz="0.0003082673" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_p">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.65458" />
      <inertia ixx="0.0015696417" ixy="-1.0499831e-19" ixz="-3.0910454e-20" iyy="0.0016894837" iyz="-2.5706258e-05" izz="0.00075162417" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_finger2">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="7.413317e-05" ixy="-3.5415839e-20" ixz="-1.8095298e-20" iyy="0.00013059029" iyz="1.3126994e-05" izz="8.874547e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_finger3">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="5.2981211e-05" ixy="-4.0203855e-20" ixz="8.5918548e-21" iyy="0.0001135826" iyz="-1.258502e-05" izz="8.0864226e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_finger1">
    <!-- inertia recomputed by urdfeus: all-zero inertia tensor -->
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.12321" />
      <inertia ixx="5.675167e-05" ixy="4.3535806e-21" ixz="-1.0664032e-05" iyy="6.3012199e-05" iyz="3.2782365e-20" izz="1.5316463e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger1.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://h7_robot/meshes/_larm-finger1.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="root" />
    <child link="rleg_crotch_y" />
    <origin xyz="2.131628e-17 -0.088 0.1" rpy="0 -0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.61086524" upper="1.6580628" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_r" />
    <origin xyz="0 0 0" rpy="-1.570092e-16 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.52359878" upper="0.61086524" />
  </joint>
  <joint name="rleg_crotch_p" type="revolute">
    <parent link="rleg_crotch_r" />
    <child link="rleg_crotch_p" />
    <origin xyz="0 0 0" rpy="1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.3561945" upper="0.6981317" />
  </joint>
  <joint name="rleg_knee_p" type="revolute">
    <parent link="rleg_crotch_p" />
    <child link="rleg_knee_p" />
    <origin xyz="-0.02 -0.3 -1.570092e-18" rpy="2.220446e-16 -9.6764362e-49 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="0" upper="2.6179939" />
  </joint>
  <joint name="rleg_ankle_p" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_ankle_p" />
    <origin xyz="4.710276e-17 -0.3 6.661338e-17" rpy="-8.5944041e-64 -3.4863045e-32 -2.4651903e-32" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.3962634" />
  </joint>
  <joint name="rleg_ankle_r" type="revolute">
    <parent link="rleg_ankle_p" />
    <child link="rleg_ankle_r" />
    <origin xyz="0 0 0" rpy="-1.5707963 -6.50354e-17 -1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.61086524" upper="0.37524579" />
  </joint>
  <joint name="rleg_toe" type="revolute">
    <parent link="rleg_ankle_r" />
    <child link="rleg_toe" />
    <origin xyz="0.045 -1.6093443e-17 0.115" rpy="-0 -1.5707963 0" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="0.17453293" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="root" />
    <child link="head_neck_p" />
    <origin xyz="-0.0535 -2.051283e-18 0.6135" rpy="1.5707963 -1.232595e-32 1.570092e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.0471976" />
  </joint>
  <joint name="head_neck_y" type="revolute">
    <parent link="head_neck_p" />
    <child link="head_neck_y" />
    <origin xyz="-0.013 0.119 4.6099059e-33" rpy="-1.5707963 -1.570092e-16 1.232595e-32" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="root" />
    <child link="lleg_crotch_y" />
    <origin xyz="-2.131628e-17 0.088 0.1" rpy="3.1415927 1.224647e-16 -7.547469e-49" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.61086524" upper="1.6580628" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_r" />
    <origin xyz="0 0 0" rpy="-3.1415927 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.52359878" upper="0.61086524" />
  </joint>
  <joint name="lleg_crotch_p" type="revolute">
    <parent link="lleg_crotch_r" />
    <child link="lleg_crotch_p" />
    <origin xyz="0 0 0" rpy="1.5707963 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.3561945" upper="0.6981317" />
  </joint>
  <joint name="lleg_knee_p" type="revolute">
    <parent link="lleg_crotch_p" />
    <child link="lleg_knee_p" />
    <origin xyz="-0.02 -0.3 -2.182416e-18" rpy="2.220446e-16 -1.345017e-48 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="0" upper="2.6179939" />
  </joint>
  <joint name="lleg_ankle_p" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_ankle_p" />
    <origin xyz="-4.710276e-17 -0.3 6.661338e-17" rpy="2.4651903e-32 3.4863045e-32 -2.4651903e-32" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="1.3962634" />
  </joint>
  <joint name="lleg_ankle_r" type="revolute">
    <parent link="lleg_ankle_p" />
    <child link="lleg_ankle_r" />
    <origin xyz="0 0 0" rpy="-1.5707963 6.50354e-17 1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.61086524" upper="0.37524579" />
  </joint>
  <joint name="lleg_toe" type="revolute">
    <parent link="lleg_ankle_r" />
    <child link="lleg_toe" />
    <origin xyz="-0.045 -1.9614306e-17 -0.115" rpy="0 1.5707963 0" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="5" lower="-1.0471976" upper="0.17453293" />
  </joint>
  <joint name="rarm_shoulder_y" type="revolute">
    <parent link="root" />
    <child link="rarm_shoulder_y" />
    <origin xyz="0.028 -0.105 0.56" rpy="0 -0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="0" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="rarm_shoulder_y" />
    <child link="rarm_shoulder_p" />
    <origin xyz="0 -0.147 0" rpy="1.5707963 -1.232595e-32 1.570092e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="1.5707963" />
  </joint>
  <joint name="rarm_shoulder_r" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_shoulder_r" />
    <origin xyz="-0.018 -2.218671e-34 -2.8261656e-18" rpy="1.5707963 6.50354e-17 1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.34906585" upper="1.6580628" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_shoulder_r" />
    <child link="rarm_elbow_p" />
    <origin xyz="-0.25 0.008 0.017" rpy="-1.5707963 1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.443461" upper="0" />
  </joint>
  <joint name="rarm_wrist_y" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_wrist_y" />
    <origin xyz="0.018 0.147 2.9814391e-17" rpy="1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.6179939" upper="2.0943951" />
  </joint>
  <joint name="rarm_wrist_r" type="revolute">
    <parent link="rarm_wrist_y" />
    <child link="rarm_wrist_r" />
    <origin xyz="1.6171948e-17 -1.6171948e-17 -0.103" rpy="1.5707963 6.50354e-17 -3.4863045e-32" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rarm_wrist_p" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_wrist_p" />
    <origin xyz="0 0 0" rpy="-1.5707963 -1.5707963 0" />
    <axis xyz="0 -1 0" />
    <limit effort="100" velocity="5" lower="-0.78539816" upper="0.78539816" />
  </joint>
  <joint name="rarm_finger2" type="revolute">
    <parent link="rarm_wrist_p" />
    <child link="rarm_finger2" />
    <origin xyz="7.5939253e-17 0.009 -0.135" rpy="4.9303807e-32 -0 9.2444661e-32" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="5" lower="-0.17453293" upper="0.87266463" />
  </joint>
  <joint name="rarm_finger3" type="revolute">
    <parent link="rarm_finger2" />
    <child link="rarm_finger3" />
    <origin xyz="4.0190073e-17 0.022 -0.068" rpy="5.0243679e-07 -0 9.2444661e-32" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="-0.034906585" />
  </joint>
  <joint name="rarm_finger1" type="revolute">
    <parent link="rarm_wrist_p" />
    <child link="rarm_finger1" />
    <origin xyz="-0.051 -0.032 -0.135" rpy="-4.9303807e-32 -0 -3.1415927" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="5" lower="-1.8325957" upper="0.52359878" />
  </joint>
  <joint name="larm_shoulder_y" type="revolute">
    <parent link="root" />
    <child link="larm_shoulder_y" />
    <origin xyz="0.028 0.105 0.56" rpy="3.1415927 1.224647e-16 -7.547469e-49" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="0" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="larm_shoulder_y" />
    <child link="larm_shoulder_p" />
    <origin xyz="-1.1094779e-49 -0.147 -1.8119146e-33" rpy="-1.5707963 6.123234e-17 -1.570092e-16" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-3.1415927" upper="1.5707963" />
  </joint>
  <joint name="larm_shoulder_r" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_shoulder_r" />
    <origin xyz="-0.018 -1.1021825e-18 -2.8261656e-18" rpy="-1.5707963 1.34693e-17 1.5707963" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-0.34906585" upper="1.6580628" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_shoulder_r" />
    <child link="larm_elbow_p" />
    <origin xyz="-0.25 0.008 -0.017" rpy="1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.443461" upper="0" />
  </joint>
  <joint name="larm_wrist_y" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_wrist_y" />
    <origin xyz="0.018 0.147 -3.8292889e-17" rpy="-1.5707963 -1.5707963 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="-2.6179939" upper="2.0943951" />
  </joint>
  <joint name="larm_wrist_r" type="revolute">
    <parent link="larm_wrist_y" />
    <child link="larm_wrist_r" />
    <origin xyz="-8.0859759e-17 -1.6171948e-17 0.103" rpy="1.5707963 -2.854458e-16 3.885781e-16" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="larm_wrist_p" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_wrist_p" />
    <origin xyz="0 0 0" rpy="1.5707963 -1.5707963 0" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="5" lower="-0.78539816" upper="0.78539816" />
  </joint>
  <joint name="larm_finger2" type="revolute">
    <parent link="larm_wrist_p" />
    <child link="larm_finger2" />
    <origin xyz="1.1990408e-17 0.009 -0.135" rpy="-4.9303807e-32 1.1093356e-31 3.6977853e-32" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="5" lower="-0.17453293" upper="0.87266463" />
  </joint>
  <joint name="larm_finger3" type="revolute">
    <parent link="larm_finger2" />
    <child link="larm_finger3" />
    <origin xyz="2.220446e-19 0.022 -0.068" rpy="5.0243679e-07 1.1093356e-31 3.6977853e-32" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="5" lower="-1.5707963" upper="-0.034906585" />
  </joint>
  <joint name="larm_finger1" type="revolute">
    <parent link="larm_wrist_p" />
    <child link="larm_finger1" />
    <origin xyz="0.051 -0.032 -0.135" rpy="-4.9303807e-32 1.1093356e-31 3.6977853e-32" />
    <axis xyz="0 1 0" />
    <limit effort="100" velocity="5" lower="-1.8325957" upper="0.52359878" />
  </joint>
</robot>