<?xml version='1.0' encoding='utf-8'?>
<robot name="askul-gdh-cupboard">
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="askul_gdh_cupboard_bodyset2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset2.glb" />
      </geometry>
    </collision>
  </link>
  <link name="askul_gdh_cupboard_bodyset3">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset3.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset3.glb" />
      </geometry>
    </collision>
  </link>
  <link name="askul_gdh_cupboard_bodyset4">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset4.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset4.glb" />
      </geometry>
    </collision>
  </link>
  <link name="askul_gdh_cupboard_bodyset5">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset5.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset5.glb" />
      </geometry>
    </collision>
  </link>
  <link name="askul_gdh_cupboard_bodyset6">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset6.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://askul_gdh_cupboard_object/meshes/_askul-gdh-cupboard-bodyset6.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="door_lower_left" type="revolute">
    <parent link="root" />
    <child link="askul_gdh_cupboard_bodyset2" />
    <origin xyz="0.171 0.288 0.08" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
  <joint name="door_lower_right" type="revolute">
    <parent link="root" />
    <child link="askul_gdh_cupboard_bodyset3" />
    <origin xyz="0.171 -0.288 0.08" rpy="0 -0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
  <joint name="drawer" type="prismatic">
    <parent link="root" />
    <child link="askul_gdh_cupboard_bodyset4" />
    <origin xyz="0 0 0.822" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="100" velocity="0.785398" lower="0" upper="0.353" />
  </joint>
  <joint name="door_upper_left" type="revolute">
    <parent link="root" />
    <child link="askul_gdh_cupboard_bodyset5" />
    <origin xyz="0.171 0.288 0.885" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
  <joint name="door_upper_right" type="revolute">
    <parent link="root" />
    <child link="askul_gdh_cupboard_bodyset6" />
    <origin xyz="0.171 -0.288 0.885" rpy="0 -0 0" />
    <axis xyz="0 0 -1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
</robot>