<?xml version='1.0' encoding='utf-8'?>
<robot name="kxrl2makabe">
  <link name="torso_link_dyp">
    <inertial>
      <origin xyz="-1.183007e-34 1.420744e-18 0.0173348" rpy="0 0 0" />
      <mass value="0.0800192" />
      <inertia ixx="4.30316e-05" ixy="-3.5684e-08" ixz="9.777068e-22" iyy="7.22823e-05" iyz="-1.05156e-08" izz="6.5892e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-link-dyp.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-link-dyp.glb" />
      </geometry>
    </collision>
  </link>
  <link name="torso_chest_y">
    <inertial>
      <origin xyz="1.949424e-19 0 0.017831" rpy="0 0 0" />
      <mass value="0.0279927" />
      <inertia ixx="4.13447e-05" ixy="-7.92278e-10" ixz="1.33586e-09" iyy="3.73692e-05" iyz="6.07222e-08" izz="1.49975e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-chest-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-chest-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="torso_chest_p">
    <inertial>
      <origin xyz="-0.0157401 1.769798e-18 0.0345939" rpy="0 0 0" />
      <mass value="0.385423" />
      <inertia ixx="0.001278066" ixy="-5.71732e-09" ixz="6.47648e-09" iyy="0.001063504" iyz="-2.78215e-08" izz="0.0008619176" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-chest-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/torso-chest-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="0.0145809 1.456e-06 0.203895" rpy="0 0 0" />
      <mass value="0.133508" />
      <inertia ixx="0.001345635" ixy="-3.69256e-09" ixz="1.45675e-07" iyy="0.001292802" iyz="-1.45909e-07" izz="0.0001431243" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_y">
    <inertial>
      <origin xyz="-0.00548063 0.00207916 -8.818643e-19" rpy="0 0 0" />
      <mass value="0.056401" />
      <inertia ixx="0.0001728476" ixy="-2.08822e-09" ixz="1.49275e-08" iyy="0.000149852" iyz="-1.30627e-08" izz="5.62851e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="9.05787e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="6.51564e-05" iyz="2.68346e-09" izz="3.03031e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_r">
    <inertial>
      <origin xyz="0.0131476 0.00855648 2.229217e-19" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="0.0001442764" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.0001049919" iyz="1.21718e-07" izz="9.74136e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_y">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="8.1463e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="4.16609e-05" iyz="2.68346e-09" izz="4.36267e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-elbow-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-elbow-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <inertial>
      <origin xyz="-0.00855648 0.0131476 3.01116e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="0.0001095096" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.76913e-05" iyz="1.21718e-07" izz="9.74742e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_y">
    <inertial>
      <origin xyz="0.00610855 -1.867e-06 0.015047" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="6.94612e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="3.19238e-05" iyz="-6.02408e-09" izz="6.71675e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_r">
    <inertial>
      <origin xyz="5.2667e-05 0.0971933 0.00406167" rpy="0 0 0" />
      <mass value="0.0607851" />
      <inertia ixx="0.0001076483" ixy="-1.17499e-08" ixz="2.23399e-08" iyy="3.51761e-05" iyz="5.16212e-09" izz="0.000116861" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper2_r">
    <inertial>
      <origin xyz="-4.2274e-05 0.00396143 -0.0566066" rpy="0 0 0" />
      <mass value="0.0179453" />
      <inertia ixx="7.38113e-05" ixy="7.55832e-09" ixz="4.19758e-09" iyy="1.61607e-05" iyz="-1.55373e-07" izz="6.65787e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper_r">
    <inertial>
      <origin xyz="-6.426897e-18 -0.0250567 -0.0376077" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="3.78635e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="8.00444e-06" iyz="-1.52851e-07" izz="3.48761e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_w">
    <inertial>
      <origin xyz="-4.382725e-19 0.0140873 2.444534e-18" rpy="0 0 0" />
      <mass value="0.0415555" />
      <inertia ixx="7.81509e-05" ixy="6.034433e-22" ixz="2.432424e-22" iyy="6.02349e-05" iyz="-3.660849e-22" izz="0.0001275022" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/larm-wrist-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_y">
    <inertial>
      <origin xyz="-0.00548063 -0.00207916 -2.01569e-18" rpy="0 0 0" />
      <mass value="0.056401" />
      <inertia ixx="0.0001728476" ixy="-2.08822e-09" ixz="1.49275e-08" iyy="0.000149852" iyz="-1.30627e-08" izz="5.62851e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="9.05787e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="6.51564e-05" iyz="2.68346e-09" izz="3.03031e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_r">
    <inertial>
      <origin xyz="0.0131476 -0.00855648 4.464898e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="0.0001442764" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="0.0001049919" iyz="1.21718e-07" izz="9.74136e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_y">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="8.1463e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="4.16609e-05" iyz="2.68346e-09" izz="4.36267e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-elbow-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-elbow-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <inertial>
      <origin xyz="-0.00855648 -0.0131476 4.481174e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="0.0001095096" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.76913e-05" iyz="1.21718e-07" izz="9.74742e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_y">
    <inertial>
      <origin xyz="0.00610855 -1.867e-06 0.015047" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="6.94612e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="3.19238e-05" iyz="-6.02408e-09" izz="6.71675e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_r">
    <inertial>
      <origin xyz="5.2667e-05 -0.0971287 0.00406167" rpy="0 0 0" />
      <mass value="0.0607851" />
      <inertia ixx="0.0001075892" ixy="-1.17499e-08" ixz="2.23399e-08" iyy="3.51761e-05" iyz="5.16212e-09" izz="0.000116802" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper2_r">
    <inertial>
      <origin xyz="4.2274e-05 -0.00396143 -0.0566066" rpy="0 0 0" />
      <mass value="0.0179453" />
      <inertia ixx="7.38113e-05" ixy="7.55832e-09" ixz="4.19758e-09" iyy="1.61607e-05" iyz="-1.55373e-07" izz="6.65787e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper_r">
    <inertial>
      <origin xyz="-1.767397e-17 0.0250567 -0.0376077" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="3.78635e-05" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="8.00444e-06" iyz="-1.52851e-07" izz="3.48761e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_w">
    <inertial>
      <origin xyz="-4.382725e-19 0.0140873 2.444534e-18" rpy="0 0 0" />
      <mass value="0.0415555" />
      <inertia ixx="7.81509e-05" ixy="6.033026e-22" ixz="2.506883e-22" iyy="6.02349e-05" iyz="-3.705184e-22" izz="0.0001275022" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rarm-wrist-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="1.22538e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="6.91643e-06" iyz="2.68346e-09" izz="1.02182e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <inertial>
      <origin xyz="0.0131476 0.00855648 2.229217e-19" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="5.61143e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.67519e-05" iyz="1.21718e-07" izz="6.74915e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <inertial>
      <origin xyz="0.00610855 -1.867e-06 0.015047" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="3.11399e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="2.29222e-05" iyz="-6.02408e-09" izz="3.73045e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_p">
    <inertial>
      <origin xyz="-0.00542938 -4.32763e-18 -0.0461396" rpy="0 0 0" />
      <mass value="0.05254" />
      <inertia ixx="8.96953e-05" ixy="-6.37608e-09" ixz="7.68264e-09" iyy="7.43998e-05" iyz="-1.4669e-08" izz="5.45492e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_p">
    <inertial>
      <origin xyz="-0.0131476 4.003831e-18 0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="8.71636e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="8.22434e-05" iyz="1.21718e-07" izz="6.31029e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_r">
    <inertial>
      <origin xyz="6.1789e-05 -3.7897e-05 -0.0386007" rpy="0 0 0" />
      <mass value="0.0518114" />
      <inertia ixx="0.000226521" ixy="-1.19767e-08" ixz="1.40335e-08" iyy="0.0001286582" iyz="9.47576e-09" izz="0.0001131093" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_w">
    <inertial>
      <origin xyz="-6.866293e-19 0.0112887 2.474719e-18" rpy="0 0 0" />
      <mass value="0.0408643" />
      <inertia ixx="7.42225e-05" ixy="6.129616e-22" ixz="2.331912e-22" iyy="6.63899e-05" iyz="-3.501273e-22" izz="0.0001223813" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-knee-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/lleg-knee-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="1.22538e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="6.91643e-06" iyz="2.68346e-09" izz="1.02182e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <inertial>
      <origin xyz="0.0131476 -0.00855648 4.464898e-18" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="5.61143e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="4.67519e-05" iyz="1.21718e-07" izz="6.74915e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <inertial>
      <origin xyz="0.00610855 -1.867e-06 0.015047" rpy="0 0 0" />
      <mass value="0.0375203" />
      <inertia ixx="3.11399e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="2.29222e-05" iyz="-6.02408e-09" izz="3.73045e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_p">
    <inertial>
      <origin xyz="-0.00542938 1.217146e-18 -0.0461396" rpy="0 0 0" />
      <mass value="0.05254" />
      <inertia ixx="8.96953e-05" ixy="-6.37608e-09" ixz="7.68264e-09" iyy="7.43998e-05" iyz="-1.4669e-08" izz="5.45492e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_p">
    <inertial>
      <origin xyz="-0.0131476 4.003831e-18 0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="8.71636e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="8.22434e-05" iyz="1.21718e-07" izz="6.31029e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_r">
    <inertial>
      <origin xyz="6.1789e-05 -3.7897e-05 -0.0386007" rpy="0 0 0" />
      <mass value="0.0518114" />
      <inertia ixx="0.000226554" ixy="-1.19767e-08" ixz="1.40335e-08" iyy="0.0001286582" iyz="9.47576e-09" izz="0.0001131423" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_w">
    <inertial>
      <origin xyz="-6.866293e-19 0.0112887 2.474719e-18" rpy="0 0 0" />
      <mass value="0.0408643" />
      <inertia ixx="7.42225e-05" ixy="6.091165e-22" ixz="2.491562e-22" iyy="6.63899e-05" iyz="-3.486914e-22" izz="0.0001223813" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-knee-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2makabe/meshes/rleg-knee-w.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="torso_chest_y" type="revolute">
    <parent link="torso_link_dyp" />
    <child link="torso_chest_y" />
    <origin xyz="0 0 0.038" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1590459" upper="3.1590459" />
  </joint>
  <joint name="torso_chest_p" type="revolute">
    <parent link="torso_chest_y" />
    <child link="torso_chest_p" />
    <origin xyz="0 0 0.042" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="torso_chest_p" />
    <child link="head_neck_p" />
    <origin xyz="0 0 0.068" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="larm_shoulder_y" type="revolute">
    <parent link="torso_chest_p" />
    <child link="larm_shoulder_y" />
    <origin xyz="0 0.0525 0.041" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="larm_shoulder_y" />
    <child link="larm_shoulder_p" />
    <origin xyz="0 0.015 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_shoulder_r" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_shoulder_r" />
    <origin xyz="0 0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="larm_elbow_y" type="revolute">
    <parent link="larm_shoulder_r" />
    <child link="larm_elbow_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_elbow_y" />
    <child link="larm_elbow_p" />
    <origin xyz="0 0 -0.031" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="larm_wrist_y" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_wrist_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_wrist_r" type="revolute">
    <parent link="larm_wrist_y" />
    <child link="larm_wrist_r" />
    <origin xyz="0 0 -0.0225" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.6179939" upper="2.6179939" />
  </joint>
  <joint name="larm_gripper2_r" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_gripper2_r" />
    <origin xyz="0 0.0105 -0.059" rpy="-2.0344444 5.476787e-17 -1.292894e-17" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="larm_gripper_r" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_gripper_r" />
    <origin xyz="0 -0.0105 -0.0485" rpy="-1.1071483 -6.162976e-33 3.1415927" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="larm_wrist_w" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_wrist_w" />
    <origin xyz="-0.025 0 0.002" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="rarm_shoulder_y" type="revolute">
    <parent link="torso_chest_p" />
    <child link="rarm_shoulder_y" />
    <origin xyz="0 -0.0525 0.041" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="rarm_shoulder_y" />
    <child link="rarm_shoulder_p" />
    <origin xyz="0 -0.015 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_shoulder_r" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_shoulder_r" />
    <origin xyz="0 -0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rarm_elbow_y" type="revolute">
    <parent link="rarm_shoulder_r" />
    <child link="rarm_elbow_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_elbow_y" />
    <child link="rarm_elbow_p" />
    <origin xyz="0 0 -0.031" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="2.3561945" />
  </joint>
  <joint name="rarm_wrist_y" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_wrist_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_wrist_r" type="revolute">
    <parent link="rarm_wrist_y" />
    <child link="rarm_wrist_r" />
    <origin xyz="0 0 -0.0225" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.6179939" upper="2.6179939" />
  </joint>
  <joint name="rarm_gripper2_r" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_gripper2_r" />
    <origin xyz="0 -0.0105 -0.059" rpy="-2.0344444 -5.476787e-17 3.1415927" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_gripper_r" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_gripper_r" />
    <origin xyz="0 0.0105 -0.0485" rpy="-1.1071483 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_wrist_w" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_wrist_w" />
    <origin xyz="-0.025 0 0.002" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="lleg_crotch_p" type="revolute">
    <parent link="torso_link_dyp" />
    <child link="lleg_crotch_p" />
    <origin xyz="0 0.024 0.009" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1590459" upper="3.1590459" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_p" />
    <child link="lleg_crotch_r" />
    <origin xyz="0 0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="lleg_crotch_r" />
    <child link="lleg_crotch_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_knee_p" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_knee_p" />
    <origin xyz="0 0 -0.0225" rpy="-0 -0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1590459" upper="3.1590459" />
  </joint>
  <joint name="lleg_ankle_p" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_ankle_p" />
    <origin xyz="-0.053500069 0 -0.053000145" rpy="0 0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.8325957" upper="1.8325957" />
  </joint>
  <joint name="lleg_ankle_r" type="revolute">
    <parent link="lleg_ankle_p" />
    <child link="lleg_ankle_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_knee_w" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_knee_w" />
    <origin xyz="0.010499903 0.015 -0.053000145" rpy="0 0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-174.53293" upper="174.53293" />
  </joint>
  <joint name="rleg_crotch_p" type="revolute">
    <parent link="torso_link_dyp" />
    <child link="rleg_crotch_p" />
    <origin xyz="0 -0.024 0.009" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1590459" upper="3.1590459" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_p" />
    <child link="rleg_crotch_r" />
    <origin xyz="0 -0.031 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="rleg_crotch_r" />
    <child link="rleg_crotch_y" />
    <origin xyz="0 0 -0.015" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_knee_p" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_knee_p" />
    <origin xyz="0 0 -0.0225" rpy="-0 -0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1590459" upper="3.1590459" />
  </joint>
  <joint name="rleg_ankle_p" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_ankle_p" />
    <origin xyz="-0.053500069 0 -0.053000145" rpy="0 0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.8325957" upper="1.8325957" />
  </joint>
  <joint name="rleg_ankle_r" type="revolute">
    <parent link="rleg_ankle_p" />
    <child link="rleg_ankle_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_knee_w" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_knee_w" />
    <origin xyz="0.010499903 -0.015 -0.053000145" rpy="0 0.78539816 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-174.53293" upper="174.53293" />
  </joint>
</robot>