<?xml version='1.0' encoding='utf-8'?>
<robot name="kokuyo-450-locker">
  <link name="root">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kokuyo_450_locker_object/meshes/_root.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kokuyo_450_locker_object/meshes/_root.glb" />
      </geometry>
    </collision>
  </link>
  <link name="kokuyo_450_locker_bodyset2">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kokuyo_450_locker_object/meshes/_kokuyo-450-locker-bodyset2.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kokuyo_450_locker_object/meshes/_kokuyo-450-locker-bodyset2.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="door" type="revolute">
    <parent link="root" />
    <child link="kokuyo_450_locker_bodyset2" />
    <origin xyz="0.215 0.215 0.06" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="100" velocity="5" lower="0" upper="1.5707963" />
  </joint>
</robot>