<?xml version='1.0' encoding='utf-8'?>
<robot name="kxrl2w2l6a7h2w">
  <link name="torso_link_l2l6w">
    <inertial>
      <origin xyz="-0.00521923 2.126249e-10 0.0309511" rpy="0 0 0" />
      <mass value="0.438821" />
      <inertia ixx="0.001297894" ixy="-8.24829e-06" ixz="-1.77451e-06" iyy="0.001344358" iyz="1.40388e-06" izz="0.002179339" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/torso-link-l2l6w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/torso-link-l2l6w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_y">
    <inertial>
      <origin xyz="0.0081617 -1.841e-06 0.0229158" rpy="0 0 0" />
      <mass value="0.038054" />
      <inertia ixx="6.25862e-05" ixy="-3.94e-12" ixz="6.70242e-09" iyy="6.65096e-05" iyz="-6.02408e-09" izz="2.5333e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/head-neck-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/head-neck-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="head_neck_p">
    <inertial>
      <origin xyz="0.00883519 -3.507322e-18 0.159183" rpy="0 0 0" />
      <mass value="0.156521" />
      <inertia ixx="0.001208192" ixy="-1.82679e-09" ixz="1.62901e-09" iyy="0.0001979642" iyz="3.6276e-09" izz="0.001092763" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/head-neck-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/head-neck-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_y">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="2.33129e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.5455e-05" iyz="2.68346e-09" izz="1.27387e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_r">
    <inertial>
      <origin xyz="-0.0131476 -2.701402e-18 -0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="6.95479e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.87799e-05" iyz="1.21718e-07" izz="5.8897e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_crotch_p">
    <inertial>
      <origin xyz="3.511856e-19 -3.167258e-19 -0.0337371" rpy="0 0 0" />
      <mass value="0.022434" />
      <inertia ixx="8.97999e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="7.59242e-05" iyz="6.8972e-10" izz="2.13526e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_knee_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="0.0001552256" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.0001401729" iyz="-6.81607e-07" izz="4.50634e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_p">
    <inertial>
      <origin xyz="-0.0338081 5.7e-07 0.009676" rpy="0 0 0" />
      <mass value="0.122858" />
      <inertia ixx="0.0003352949" ixy="-4.36525e-08" ixz="8.05956e-08" iyy="0.0003472991" iyz="8.91839e-08" izz="0.0001158673" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_r">
    <inertial>
      <origin xyz="-1.848807e-19 0.00751396 -0.0254158" rpy="0 0 0" />
      <mass value="0.0384325" />
      <inertia ixx="0.0003843652" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.0002274259" iyz="-5.24227e-07" izz="0.0001629218" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="lleg_ankle_w">
    <inertial>
      <origin xyz="-2.963973e-19 0.00939822 3.353331e-18" rpy="0 0 0" />
      <mass value="0.0404035" />
      <inertia ixx="0.0001295018" ixy="6.201706e-22" ixz="2.200832e-22" iyy="0.0001334617" iyz="-3.266368e-22" izz="0.0001267945" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/lleg-ankle-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_y">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="2.33129e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="1.5455e-05" iyz="2.68346e-09" izz="1.27387e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_r">
    <inertial>
      <origin xyz="-0.0131476 -2.701402e-18 -0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="6.95479e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.87799e-05" iyz="1.21718e-07" izz="5.8897e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_crotch_p">
    <inertial>
      <origin xyz="3.511856e-19 -3.167258e-19 -0.0337371" rpy="0 0 0" />
      <mass value="0.022434" />
      <inertia ixx="8.97999e-05" ixy="-4.33421e-09" ixz="4.70761e-09" iyy="7.59242e-05" iyz="6.8972e-10" izz="2.13526e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-crotch-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_knee_p">
    <inertial>
      <origin xyz="0.0109658 -1.962822e-18 -0.0122838" rpy="0 0 0" />
      <mass value="0.0543001" />
      <inertia ixx="0.0001552256" ixy="5.54708e-08" ixz="2.00452e-08" iyy="0.0001401729" iyz="-6.81607e-07" izz="4.50634e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-knee-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-knee-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_p">
    <inertial>
      <origin xyz="-0.0338081 5.7e-07 0.009676" rpy="0 0 0" />
      <mass value="0.122858" />
      <inertia ixx="0.0003352949" ixy="-4.36525e-08" ixz="8.05956e-08" iyy="0.0003472991" iyz="8.91839e-08" izz="0.0001158673" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_r">
    <inertial>
      <origin xyz="3.882495e-18 -0.00751396 -0.0254158" rpy="0 0 0" />
      <mass value="0.0384325" />
      <inertia ixx="0.0003843652" ixy="3.74795e-08" ixz="-1.78739e-07" iyy="0.0002274259" iyz="-5.24227e-07" izz="0.0001629218" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rleg_ankle_w">
    <inertial>
      <origin xyz="-2.963973e-19 0.00939822 3.353331e-18" rpy="0 0 0" />
      <mass value="0.0404035" />
      <inertia ixx="0.0001295018" ixy="6.291764e-22" ixz="2.792747e-22" iyy="0.0001334617" iyz="-3.103295e-22" izz="0.0001267945" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rleg-ankle-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="3.91817e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.50277e-05" iyz="2.68346e-09" izz="1.83991e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_y">
    <inertial>
      <origin xyz="-1.742898e-18 0.00855648 0.0131476" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="9.42191e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.98905e-05" iyz="1.21718e-07" izz="7.96992e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_shoulder_r">
    <inertial>
      <origin xyz="-5.421218e-20 -3.939843e-19 -0.0314648" rpy="0 0 0" />
      <mass value="0.0180348" />
      <inertia ixx="5.23188e-05" ixy="-5.01483e-09" ixz="5.47033e-09" iyy="2.15885e-05" iyz="-1.078e-09" izz="3.61591e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_elbow_p">
    <inertial>
      <origin xyz="-0.00725 0.0775 -0.0124452" rpy="0 0 0" />
      <mass value="0.0498028" />
      <inertia ixx="8.29631e-05" ixy="-3.18804e-09" ixz="1.2453e-08" iyy="3.8121e-05" iyz="-9.96338e-09" izz="7.84262e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_p">
    <inertial>
      <origin xyz="-0.0131476 4.003831e-18 0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="7.53094e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.91877e-05" iyz="1.21718e-07" izz="7.57513e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_r">
    <inertial>
      <origin xyz="-0.00536364 -8.090854e-19 -0.0415483" rpy="0 0 0" />
      <mass value="0.05487" />
      <inertia ixx="0.0001235915" ixy="1.28411e-08" ixz="-3.421e-08" iyy="8.90231e-05" iyz="-3.53563e-08" izz="6.6469e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_wrist_y">
    <inertial>
      <origin xyz="-0.00725164 0.0866773 -0.141989" rpy="0 0 0" />
      <mass value="0.0427115" />
      <inertia ixx="0.0001433909" ixy="-3.94e-12" ixz="6.70242e-09" iyy="0.0001145333" iyz="-6.02408e-09" izz="6.26506e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper2_r">
    <inertial>
      <origin xyz="4.820173e-18 0.00335215 -0.05371" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="0.0002014708" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="0.0001670906" iyz="-1.52851e-07" izz="3.99229e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper_r">
    <inertial>
      <origin xyz="-1.427465e-17 0.0443297 -0.0420778" rpy="0 0 0" />
      <mass value="0.0237669" />
      <inertia ixx="0.0002556679" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="0.0001738075" iyz="-1.57449e-07" izz="9.60607e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="larm_gripper_w">
    <inertial>
      <origin xyz="-5.799855e-19 2.189916e-19 -1.281015e-18" rpy="0 0 0" />
      <mass value="0.0398698" />
      <inertia ixx="0.0001080017" ixy="6.101194e-22" ixz="2.50111e-22" iyy="8.54411e-05" iyz="-3.476922e-22" izz="0.0001289793" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/larm-gripper-w.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_p">
    <inertial>
      <origin xyz="1.834653e-18 4.393536e-19 0.0129253" rpy="0 0 0" />
      <mass value="0.0116187" />
      <inertia ixx="3.91817e-05" ixy="-2.05366e-09" ixz="1.93423e-09" iyy="2.50277e-05" iyz="2.68346e-09" izz="1.83991e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_y">
    <inertial>
      <origin xyz="1.243767e-18 -0.00855648 0.0131476" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="9.42191e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="6.98905e-05" iyz="1.21718e-07" izz="7.96992e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_shoulder_r">
    <inertial>
      <origin xyz="-5.421218e-20 -3.939843e-19 -0.0314648" rpy="0 0 0" />
      <mass value="0.0180348" />
      <inertia ixx="5.23188e-05" ixy="-5.01483e-09" ixz="5.47033e-09" iyy="2.15885e-05" iyz="-1.078e-09" izz="3.61591e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-shoulder-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_elbow_p">
    <inertial>
      <origin xyz="-0.00725 -0.0775 -0.0124452" rpy="0 0 0" />
      <mass value="0.0498028" />
      <inertia ixx="8.29631e-05" ixy="-3.18804e-09" ixz="1.2453e-08" iyy="3.8121e-05" iyz="-9.96338e-09" izz="7.84262e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-elbow-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-elbow-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_p">
    <inertial>
      <origin xyz="-0.0131476 4.003831e-18 0.00855648" rpy="0 0 0" />
      <mass value="0.0783736" />
      <inertia ixx="7.53094e-05" ixy="-6.06237e-08" ixz="1.1156e-07" iyy="5.91877e-05" iyz="1.21718e-07" izz="7.57513e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-p.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-p.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_r">
    <inertial>
      <origin xyz="-0.00536364 -8.090854e-19 -0.0415483" rpy="0 0 0" />
      <mass value="0.05487" />
      <inertia ixx="0.0001235915" ixy="1.28411e-08" ixz="-3.421e-08" iyy="8.90231e-05" iyz="-3.53563e-08" izz="6.6469e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_wrist_y">
    <inertial>
      <origin xyz="-0.00724836 -0.0866773 -0.141989" rpy="0 0 0" />
      <mass value="0.0427115" />
      <inertia ixx="0.0001433909" ixy="-3.94e-12" ixz="6.70242e-09" iyy="0.0001145333" iyz="-6.02408e-09" izz="6.26506e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-y.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-wrist-y.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper2_r">
    <inertial>
      <origin xyz="-1.017592e-17 -0.00335215 -0.05371" rpy="0 0 0" />
      <mass value="0.0132669" />
      <inertia ixx="0.0002014708" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="0.0001670906" iyz="-1.52851e-07" izz="3.99229e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper2-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper_r">
    <inertial>
      <origin xyz="1.724466e-18 -0.0443297 -0.0420778" rpy="0 0 0" />
      <mass value="0.0237669" />
      <inertia ixx="0.0002556679" ixy="-2.54028e-09" ixz="-2.35822e-09" iyy="0.0001738075" iyz="-1.57449e-07" izz="9.60607e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper-r.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper-r.glb" />
      </geometry>
    </collision>
  </link>
  <link name="rarm_gripper_w">
    <inertial>
      <origin xyz="-5.799855e-19 2.189916e-19 -1.281015e-18" rpy="0 0 0" />
      <mass value="0.0398698" />
      <inertia ixx="0.0001080017" ixy="6.101194e-22" ixz="2.50111e-22" iyy="8.54411e-05" iyz="-3.476922e-22" izz="0.0001289793" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper-w.glb" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://kxrl2w2l6a7h2w/meshes/rarm-gripper-w.glb" />
      </geometry>
    </collision>
  </link>
  <joint name="head_neck_y" type="revolute">
    <parent link="torso_link_l2l6w" />
    <child link="head_neck_y" />
    <origin xyz="-0.00725 1.60983e-18 0.0825" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="head_neck_p" type="revolute">
    <parent link="head_neck_y" />
    <child link="head_neck_p" />
    <origin xyz="0.0105 -2.33147e-18 0.036" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="2.0943951" />
  </joint>
  <joint name="lleg_crotch_y" type="revolute">
    <parent link="torso_link_l2l6w" />
    <child link="lleg_crotch_y" />
    <origin xyz="0 0.0445 -0.0345" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="lleg_crotch_r" type="revolute">
    <parent link="lleg_crotch_y" />
    <child link="lleg_crotch_r" />
    <origin xyz="0 0 -0.031" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.6580628" upper="1.6580628" />
  </joint>
  <joint name="lleg_crotch_p" type="revolute">
    <parent link="lleg_crotch_r" />
    <child link="lleg_crotch_p" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="1.5707963" />
  </joint>
  <joint name="lleg_knee_p" type="revolute">
    <parent link="lleg_crotch_p" />
    <child link="lleg_knee_p" />
    <origin xyz="0 0 -0.0579999" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="2.7925268" />
  </joint>
  <joint name="lleg_ankle_p" type="revolute">
    <parent link="lleg_knee_p" />
    <child link="lleg_ankle_p" />
    <origin xyz="0 0 -0.0579763" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.8325957" upper="1.8325957" />
  </joint>
  <joint name="lleg_ankle_r" type="revolute">
    <parent link="lleg_ankle_p" />
    <child link="lleg_ankle_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="lleg_ankle_w" type="revolute">
    <parent link="lleg_ankle_p" />
    <child link="lleg_ankle_w" />
    <origin xyz="-0.07802799 0 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-174.53293" upper="174.53293" />
  </joint>
  <joint name="rleg_crotch_y" type="revolute">
    <parent link="torso_link_l2l6w" />
    <child link="rleg_crotch_y" />
    <origin xyz="0 -0.0445 -0.0345" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rleg_crotch_r" type="revolute">
    <parent link="rleg_crotch_y" />
    <child link="rleg_crotch_r" />
    <origin xyz="0 0 -0.031" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.6580628" upper="1.6580628" />
  </joint>
  <joint name="rleg_crotch_p" type="revolute">
    <parent link="rleg_crotch_r" />
    <child link="rleg_crotch_p" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.3561945" upper="1.5707963" />
  </joint>
  <joint name="rleg_knee_p" type="revolute">
    <parent link="rleg_crotch_p" />
    <child link="rleg_knee_p" />
    <origin xyz="0 0 -0.0579999" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="2.7925268" />
  </joint>
  <joint name="rleg_ankle_p" type="revolute">
    <parent link="rleg_knee_p" />
    <child link="rleg_ankle_p" />
    <origin xyz="0 0 -0.0579763" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.8325957" upper="1.8325957" />
  </joint>
  <joint name="rleg_ankle_r" type="revolute">
    <parent link="rleg_ankle_p" />
    <child link="rleg_ankle_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rleg_ankle_w" type="revolute">
    <parent link="rleg_ankle_p" />
    <child link="rleg_ankle_w" />
    <origin xyz="-0.07802799 0 0" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-174.53293" upper="174.53293" />
  </joint>
  <joint name="larm_shoulder_p" type="revolute">
    <parent link="torso_link_l2l6w" />
    <child link="larm_shoulder_p" />
    <origin xyz="-0.00725 0.0465 0.0675" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="larm_shoulder_y" type="revolute">
    <parent link="larm_shoulder_p" />
    <child link="larm_shoulder_y" />
    <origin xyz="0 0.031 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="larm_shoulder_r" type="revolute">
    <parent link="larm_shoulder_y" />
    <child link="larm_shoulder_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-0.52359878" upper="2.0943951" />
  </joint>
  <joint name="larm_elbow_p" type="revolute">
    <parent link="larm_shoulder_r" />
    <child link="larm_elbow_p" />
    <origin xyz="0 0 -0.058" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="larm_wrist_p" type="revolute">
    <parent link="larm_elbow_p" />
    <child link="larm_wrist_p" />
    <origin xyz="0 0 -0.0735" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="larm_wrist_r" type="revolute">
    <parent link="larm_wrist_p" />
    <child link="larm_wrist_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="larm_wrist_y" type="revolute">
    <parent link="larm_wrist_r" />
    <child link="larm_wrist_y" />
    <origin xyz="0 0 -0.0624999" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="larm_gripper2_r" type="revolute">
    <parent link="larm_wrist_y" />
    <child link="larm_gripper2_r" />
    <origin xyz="0 0 -0.033" rpy="-2.0344444 -5.476787e-17 3.1415927" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="larm_gripper_r" type="revolute">
    <parent link="larm_wrist_y" />
    <child link="larm_gripper_r" />
    <origin xyz="0 0.021 -0.0225" rpy="-1.1071483 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="larm_gripper_w" type="revolute">
    <parent link="larm_gripper_r" />
    <child link="larm_gripper_w" />
    <origin xyz="0 0.045000076 0.028999948" rpy="1.5707963 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
  <joint name="rarm_shoulder_p" type="revolute">
    <parent link="torso_link_l2l6w" />
    <child link="rarm_shoulder_p" />
    <origin xyz="-0.00725 -0.0465 0.0675" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-3.1415927" upper="3.1415927" />
  </joint>
  <joint name="rarm_shoulder_y" type="revolute">
    <parent link="rarm_shoulder_p" />
    <child link="rarm_shoulder_y" />
    <origin xyz="0 -0.031 0" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.9198622" upper="1.9198622" />
  </joint>
  <joint name="rarm_shoulder_r" type="revolute">
    <parent link="rarm_shoulder_y" />
    <child link="rarm_shoulder_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.0943951" upper="0.52359878" />
  </joint>
  <joint name="rarm_elbow_p" type="revolute">
    <parent link="rarm_shoulder_r" />
    <child link="rarm_elbow_p" />
    <origin xyz="0 0 -0.058" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-2.9670597" upper="2.9670597" />
  </joint>
  <joint name="rarm_wrist_p" type="revolute">
    <parent link="rarm_elbow_p" />
    <child link="rarm_wrist_p" />
    <origin xyz="0 0 -0.0735" rpy="0 -0 0" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rarm_wrist_r" type="revolute">
    <parent link="rarm_wrist_p" />
    <child link="rarm_wrist_r" />
    <origin xyz="0 0 0" rpy="0 -0 0" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rarm_wrist_y" type="revolute">
    <parent link="rarm_wrist_r" />
    <child link="rarm_wrist_y" />
    <origin xyz="0 0 -0.0624999" rpy="0 -0 0" />
    <axis xyz="0 0 1" />
    <limit effort="1.176" velocity="7.47998" lower="-1.5707963" upper="1.5707963" />
  </joint>
  <joint name="rarm_gripper2_r" type="revolute">
    <parent link="rarm_wrist_y" />
    <child link="rarm_gripper2_r" />
    <origin xyz="0 0 -0.033" rpy="-2.0344444 5.476787e-17 -1.292894e-17" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_gripper_r" type="revolute">
    <parent link="rarm_wrist_y" />
    <child link="rarm_gripper_r" />
    <origin xyz="0 -0.021 -0.0225" rpy="-1.1071483 -6.162976e-33 3.1415927" />
    <axis xyz="1 0 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1.7453293" upper="1.7453293" />
  </joint>
  <joint name="rarm_gripper_w" type="revolute">
    <parent link="rarm_gripper_r" />
    <child link="rarm_gripper_w" />
    <origin xyz="-5.6410915e-18 0.045000076 0.028999948" rpy="1.5707963 3.42269e-23 -5.83458e-23" />
    <axis xyz="0 1 0" />
    <limit effort="1.176" velocity="7.47998" lower="-1745.3293" upper="1745.3293" />
  </joint>
</robot>